<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Kunden</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="robots" content="index, follow"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/stock-images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/prog_bundle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bundle-print.css}" media="print"/>
    <!-- <script type="text/javascript" th:src="@{/java/kickstart/controller/bundle.js}"></script> -->
</head>
<body id="square-responsive"><a id="top"></a>
<div class="wrapper top">
    <div class="header"><a href="#" id="mobilenavtoggle" class="tabletonly" aria-label="Menü ein-/ausblenden">Menü</a>
        <div id="logo">
            <a th:href="@{main}">
                <img th:src="@{/resources/images/logo-black.png}" width="172" height="46" alt="main.html"/>
            </a>
        </div>
        <div id="webtext">
            <div id="webname" class="ellipsis"><a href="main.html">Mampf</a></div>
            <div id="slogan" class="ellipsis">Cateringservice</div>
        </div>
        <div id="navbar">
        	<nav th:include="topNav :: topNav"></nav>      
        </div>
    </div>
</div>
<div class="clearx"></div>
<div class="wrapper main">
    <div class="page">
        <div class="frame">
            <div class="subnav low">
            	<nav th:include="subNav :: subNav"></nav>          
            </div>
        </div>
        <div class="content">
            <div class="clearx"></div>
            <div class="contentbox zpgrid">
                <div class="zpColumn zpColumnWidth1 c12">
                    <div class="zpColumnItem">
                        <div id="a1566" data-articleid="1566" class="articlearea zpwText">
                            <h2 style="color: #003557; ">Kunden</h2>
                        </div>
                    </div>
                </div>
                <div class="zparea " data-numcolumns="12" data-areaname="Standard">
                    <div class="zpRow standard ">
                        <div class="zpColumn zpColumnWidth1 c12" style=" ">
                            <div class="zpColumnItem">
                                <div id="a1561" data-articleid="1561" class="articlearea zpwTabellarische_Daten">
                                    <table border="1" class="zptabledata">
                                        <thead>
                                        <tr style="color: #333333; background-color: #0082D7">
                                            <th>Id</th>
                                            <th>Vorname</th>
                                            <th>Nachname</th>
                                            <th>Straße</th>
                                            <th>Ort</th>
                                            <th>Plz</th>
                                            <th>Telefon</th>
                                            <th>E-Mail</th>
                                        </tr>
                                        </thead>
                                        <tbody>                                       
                                        <tr th:each=" kunde : ${kundenListe}"
                                            style="color: #6C6C6C; background-color: #EDEDED"  >
                                            <!--style="color: #777777; background-color: #D9D9D9"-->                                         
                                            <td> 
                                            	<form action="/kundenDetail">                                               	                              		
                                            		<input type="submit" th:value="${kunde.id}" name="kundenId"/>
                                            	</form>	
                                            </td>
                                            <td><label th:for="${kunde.id}" th:text="${kunde.vorname}"></label></td>
                                            <td><label th:for="${kunde.id}" th:text="${kunde.nachname}"></label></td>
                                            <td><label th:for="${kunde.id}" th:text="${kunde.adresse.strasse}"></label></td>
                                            <td><label th:for="${kunde.id}" th:text="${kunde.adresse.ort}"></label></td>
                                            <td><label th:for="${kunde.id}" th:text="${kunde.adresse.plz}"></label></td>
                                            <td><label th:for="${kunde.id}" th:text="${kunde.telefon}"></label></td>
                                            <td><label th:for="${kunde.id}" th:text="${kunde.email}"></label></td>
                                            <td>
                                            	<form id="form1" th:action="@{/bestellung}" method="post">                                            		
                                            		<input th:id="${kunde.id}" form="form1" type="radio" name="kundenId" th:value="${kunde.id}" checked="checked" />
                                            	</form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
	                <ul>
	                	<li><input type="submit" form="form1" value="Veranstaltung erstellen für Auswahl"/></li>
	                    <li><a class="formbuttons" th:href="@{/neuer-kunde}" href="neuer-kunde.html">Kunde hinzufügen</a></li>	
	                    <li><a class="formbuttons" th:href="@{/kundenVornameSortiert}" href="kunden.html">Kunden nach
	                        Vorname sortieren</a></li>
	                    <li><a class="formbuttons" th:href="@{/kundenNachnameSortiert}" href="kunden.html">Kunden nach
	                        Nachname sortieren</a></li>    	                        
	                    <li><a class="formbuttons" th:href="@{/kundenIdSortiert}" href="kunden.html">Kunden nach Id
	                        sortieren</a></li>
	                </ul>
	                <form name="suchenNachVorname" action="/sucheKundeVorname" method="POST">
	                    <label>Name:</label>
	                    <input type='text' name='vorname'/>	                   
	                    <input type="submit" value="Suche"/>
	                </form>
                </div>
            </div>
        </div>
        <!--<div class="frame">
            <div id="search">
                <form id="searchform" name="searchengine1" onsubmit="return search1()" action="suche.html" method="get">
                    <fieldset id="searchfieldset"><input id="searchfield" type="text" name="q" value="Suchbegriff"
                                                         onfocus="if(this.value=='Suchbegriff'){this.value=''}"
                                                         onblur="if(this.value==''){this.value='Suchbegriff'}"/> <input
                            id="searchbutton" type="image" name="submit"
                            th:src="@{resources/images/stock-images/magnifier.png}"
                            alt="searchbutton"/></fieldset>
                </form>
            </div>
        </div>-->
        <div class="frame">
            <div id="footer">
                <div id="footerinfo"> © 2016 Mampf.</div>
                <div style="clear:left"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $z(document).ready(function () {
        // switches the Mobile Navigation-Menu on/off, when "Menu" link is clicked.
        $z("a#mobilenavtoggle").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();

            $z("#navbar").slideToggle(300, function () {
                $z("#navbar, #mobilenavtoggle").toggleClass("on");
                //clear inline styles set by "slideToggle" so the don't stick around e.g. after window enlargement or orientation change
                $z(this).css("display", "");
            });

        });
    });
</script>
</body>
</html>