<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Personal Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="robots" content="index, follow"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/stock-images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/prog_bundle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bundle-print.css}" media="print"/>
    <!-- <script type="text/javascript" th:src="@{/java/kickstart/controller/bundle.js}"></script> -->
</head>
<body id="square-responsive"><a id="top"></a>
<div class="wrapper top">
    <div class="header"><a href="#" id="mobilenavtoggle" class="tabletonly" aria-label="Menü ein-/ausblenden">Menü</a>
        <div id="logo">
            <a th:href="@{main}">
                <img th:src="@{/resources/images/logo-black.png}" width="172" height="46" alt="main.html"/>
            </a>
        </div>
        <div id="webtext">
            <div id="webname" class="ellipsis"><a href="main.html">Mampf</a></div>
            <div id="slogan" class="ellipsis">Eventcatering</div>
        </div>
        <div id="navbar">
        	<nav th:include="topNav :: topNav"></nav>        	
        </div>
    </div>
</div>
<div class="clearx"></div>
<div class="wrapper main">
    <div class="page">
        <div class="frame">
            <div class="subnav low">
                <div class="submenu clearme">                
                </div>
            </div>
        </div>
        <div class="content">
            <div class="clearx"></div>
            <div class="contentbox zpgrid">
                <div class="zparea " data-numcolumns="12" data-areaname="Standard">
                    <div class="zpRow standard ">
                        <div class="zpColumn zpColumnWidth1 c8">
                            <div class="zpColumnItem">
                                <div id="a1571" data-articleid="1571" class="articlearea zpwFormular">
                                	<h2>
                                		<label th:text="'Details für Mitarbeiter: ' + ${mitarbeiterId}">Details für Kunde</label>                               		
                                	</h2>
                                                                                                                                  
                                    <form enctype="multipart/form-data" class="zp-form" id="form1571" name="form1571"
                                          th:object="${mitarbeiterDaten}" th:action="@{/bearbeitePersonal}" method="post">
                                        <input type="hidden" name="f_receiver" value="4rF2V2jGFwxsXPnPD0asAw=="/>
                                        <input type="hidden" name="f_title" value="Neuer Kunde"/>
                                        <input type="hidden" name="f_success" value="neuer-kunde.html"/>
                                        <input type="hidden" name="f_error" value="neuer-kunde.html"/>
                                        <input type="hidden" name="f_id" value="1571"/>
                                        <input type="hidden" name="f_alertPrefix"
                                               value="Bitte füllen Sie die rot markierten Felder aus:"/>
                                        <input type="hidden" name="f_invalidEmailMsg" value="keine gültige E-Mail"/>
                                        
                                        <input type="hidden" name="mitarbeiterId" th:value="${mitarbeiterId}"/>
                                        <input th:field="*{username}" value="leer" class="text" type="hidden" />
                                        <input th:field="*{password}" value="leer" class="text" type="hidden" />
										
                                        
                                        <label for="F1" class="field">Name</label>
                                        <input th:field="*{nachname}" class="typetext  required" type="text" name="F1" id="F1"
                                               placeholder="Name" style="width: 200px; " maxlength="20" required="required"/>
                                        
                                        <label for="F2" class="field">Vorname</label>
                                        <input th:field="*{vorname}" class="typetext  required" type="text" name="F2" id="F2"
                                               placeholder="Vorname" style="width: 200px; " maxlength="20" required="required"/>

                                        <div class="separator">&nbsp;</div>
                                        
                                        <label for="F5" class="field">Straße</label>
                                        <input th:field="*{strasse}" class="typetext  required" type="text" name="F5" id="F5"
                                               placeholder="Straße"
                                               value="" style="width: 200px; " maxlength="40" required="required"/>

                                        <label for="F5_2" class="field">Ort</label>
                                        <input th:field="*{ort}" class="typetext  required" type="text" name="F5_2" id="F5_2"
                                               placeholder="Ort"
                                               value="" style="width: 200px; " maxlength="40" required="required"/>
                                     
                                        <label for="F6" class="field">PLZ</label>
                                        <input th:field="*{plz}" class="typetext  required" type="text" name="F6" id="F6"
                                               placeholder="PLZ" style="width: 200px; " maxlength="20" required="required"/>
                                        
                                        <div class="separator">&nbsp;</div>

                                        <label for="F8" class="field">Telefon</label>
                                        <input th:field="*{telefon}" class="typetext " type="tel" name="F8" id="F8"
                                               placeholder="Telefon" style="width: 200px; " maxlength="20" required="required"/>
                                       
                                        <label for="F9" class="field">E-Mail</label>
                                        <input th:field="*{email}" class="typetext  required" type="email" name="F9" id="F9"
                                               placeholder="E-Mail" style="width: 200px; " maxlength="200" required="required"/>

                                       <label for="F11" class="field">Rolle</label>                                                                                   
                                        <select th:field="*{role}" style="width: 200px;">                                       	
                                        	<option th:each="rolle : ${enumAccountRolleList}" th:value="${rolle}" th:text="${rolle}"></option>
                                        </select>
                                        
                                        <label for="F12" class="field">Gehalt monatlich</label>
                                        <input th:field="*{gehalt}" type="text"
                                               style="width: 200px; " maxlength="20" required="required"/>

                                        <div class="formbuttons">
                                            <input name="anderungSpeichern" type="submit" class="button" value="Änderung speichern"/>                                           
                                        </div>
                                    </form>
                                    <form th:if="${accountStatus} == False" class="zp-form" action="/aktiviereMitarbeiter">
                                   		<input type="hidden" name="mitarbeiterId" th:value="${mitarbeiterId}"/>
                                    	<div class="formbuttons">
                                            <input type="submit" class="button" value="aktiviere Mitarbeiter"/>
                                        </div>
                                    </form>
                                    <form th:if="${accountStatus} == True" class="zp-form" action="/deaktiviereMitarbeiter">
                                    	<input type="hidden" name="mitarbeiterId" th:value="${mitarbeiterId}"/>
                                    	<div class="formbuttons">
                                            <input type="submit" class="button" value="deaktiviere Mitarbeiter"/>
                                        </div>
                                    </form>
                                    <form action="/personal">
                                    	<div class="formbuttons">
                                            <input type="submit" class="button" value="zurück"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame">
            <div id="footer">
                <div id="footerinfo"> © 2016 Mampf.</div>
                <div style="clear:left"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>