.zgmap {
    max-width: 100%
}

div.zpRow {
    margin-bottom: 30px
}

div.zpRow:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0
}

div.zpRow div.zpColumn img.singleImage {
    max-width: 100% !important;
    height: auto !important;
    display: inline-block
}

div.zpRow div.zpColumn .zpImageGallery img.singleImage {
    display: block
}

div.zpRow div.zpColumn .zpImageGallery a.fancybox {
    max-width: 100%
}

div.zpRow div.zpColumn div.zpColumnItem {
    display: block;
    float: left;
    padding: 0
}

@media print {
    div.zpRow {
        margin-bottom: 0 !important
    }

    html, body {
        height: auto
    }

    #top {
        page-break-before: always
    }

    .zp13slider-control-nav zp13slider-control-paging, .zp13slider-direction-nav, .flex-control-nav, .flex-direction-nav {
        display: none !important
    }
}

h1, h2, h3, h4, h5, h6, .zphyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word
}

.zphyphenate {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    -webkit-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-lines: 2;
    hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-chars: auto 3;
    -moz-hyphenate-limit-chars: auto 3;
    -ms-hyphenate-limit-chars: auto 3;
    hyphenate-limit-chars: auto 3;
}

.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: -1
}

iframe, object, embed, .zpwIFrame, .zpwFacebook_Like-Button, .zpwFacebook_Like-Box, div.fb-like {
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

img[width="1px"], img[width="1"], .plain > img, img.plain {
    border: none !important;
    box-shadow: none !important
}

div.zpRow .zpColumn {
    margin-bottom: 1em
}

div.zpRow .zpColumn, .zpColumnItem {
    box-sizing: border-box;
    max-width: 100%
}

.zpColumnItem {
    width: 100%
}

div.zpRow .zpColumn {
    padding: 0 15px
}

.c1, .c2, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    box-sizing: border-box
}

div.zpRow .zpColumn.c12, .zpColumnItem.c12 {
    float: left;
    width: 100%
}

div.zpRow .zpColumn.c11, .zpColumnItem.c11 {
    float: left;
    width: 91.666666667%
}

div.zpRow .zpColumn.c10, .zpColumnItem.c10 {
    float: left;
    width: 83.333333333%
}

div.zpRow .zpColumn.c9, .zpColumnItem.c9 {
    float: left;
    width: 75%
}

div.zpRow .zpColumn.c8, .zpColumnItem.c8 {
    float: left;
    width: 66.666666667%
}

div.zpRow .zpColumn.c7, .zpColumnItem.c7 {
    float: left;
    width: 58.333333333%
}

div.zpRow .zpColumn.c6, .zpColumnItem.c6 {
    float: left;
    width: 50%
}

div.zpRow .zpColumn.c5, .zpColumnItem.c5 {
    float: left;
    width: 41.666666667%
}

div.zpRow .zpColumn.c4, .zpColumnItem.c4 {
    float: left;
    width: 33.333333333%
}

div.zpRow .zpColumn.c3, .zpColumnItem.c3 {
    float: left;
    width: 25%
}

div.zpRow .zpColumn.c2, .zpColumnItem.c2 {
    float: left;
    width: 16.666666667%
}

div.zpRow .zpColumn.c1, .zpColumnItem.c1 {
    float: left;
    width: 8.333333333%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c1, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c1, .zpgrid[data-numcolumns="8"] .zpColumnItem.c1, .zparea[data-numcolumns="8"] .zpColumnItem.c1, .zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c2, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c2, .zpgrid[data-numcolumns="8"] .zpColumnItem.c2, .zparea[data-numcolumns="8"] .zpColumnItem.c2 {
    float: left;
    width: 12.5%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c3, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c3, .zpgrid[data-numcolumns="8"] .zpColumnItem.c3, .zparea[data-numcolumns="8"] .zpColumnItem.c3 {
    float: left;
    width: 25%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c4, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c4, .zpgrid[data-numcolumns="8"] .zpColumnItem.c4, .zparea[data-numcolumns="8"] .zpColumnItem.c4, .zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c5, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c5, .zpgrid[data-numcolumns="8"] .zpColumnItem.c5, .zparea[data-numcolumns="8"] .zpColumnItem.c5 {
    float: left;
    width: 37.5%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c6, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c6, .zpgrid[data-numcolumns="8"] .zpColumnItem.c6, .zparea[data-numcolumns="8"] .zpColumnItem.c6 {
    float: left;
    width: 50%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c7, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c7, .zpgrid[data-numcolumns="8"] .zpColumnItem.c7, .zparea[data-numcolumns="8"] .zpColumnItem.c7, .zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c8, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c8, .zpgrid[data-numcolumns="8"] .zpColumnItem.c8, .zparea[data-numcolumns="8"] .zpColumnItem.c8 {
    float: left;
    width: 62.5%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c9, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c9, .zpgrid[data-numcolumns="8"] .zpColumnItem.c9, .zparea[data-numcolumns="8"] .zpColumnItem.c9 {
    float: left;
    width: 75%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c10, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c10, .zpgrid[data-numcolumns="8"] .zpColumnItem.c10, .zparea[data-numcolumns="8"] .zpColumnItem.c10, .zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c11, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c11, .zpgrid[data-numcolumns="8"] .zpColumnItem.c11, .zparea[data-numcolumns="8"] .zpColumnItem.c11 {
    float: left;
    width: 87.5%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c12, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c12, .zpgrid[data-numcolumns="8"] .zpColumnItem.c12, .zparea[data-numcolumns="8"] .zpColumnItem.c12 {
    float: left;
    width: 100%
}

.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c1, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c1, .zpgrid[data-numcolumns="6"] .zpColumnItem.c1, .zparea[data-numcolumns="6"] .zpColumnItem.c1, .zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c2, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c2, .zpgrid[data-numcolumns="6"] .zpColumnItem.c2, .zparea[data-numcolumns="6"] .zpColumnItem.c2 {
    float: left;
    width: 16.666666667%
}

.zpgrid[data-numcolumns="6"] {}

div.zpRow .zpColumn.c3, .zparea[data-numcolumns="6"] {}

div.zpRow .zpColumn.c3, .zpgrid[data-numcolumns="6"] .zpColumnItem.c3, .zparea[data-numcolumns="6"] .zpColumnItem.c3, .zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c4, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c4, .zpgrid[data-numcolumns="6"] .zpColumnItem.c4, .zparea[data-numcolumns="6"] .zpColumnItem.c4 {
    float: left;
    width: 33.333333333%
}

.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c5, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c5, .zpgrid[data-numcolumns="6"] .zpColumnItem.c5, .zparea[data-numcolumns="6"] .zpColumnItem.c5, .zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c6, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c6, .zpgrid[data-numcolumns="6"] .zpColumnItem.c6, .zparea[data-numcolumns="6"] .zpColumnItem.c6 {
    float: left;
    width: 50%
}

.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c7, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c7, .zpgrid[data-numcolumns="6"] .zpColumnItem.c7, .zparea[data-numcolumns="6"] .zpColumnItem.c7, .zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c8, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c8, .zpgrid[data-numcolumns="6"] .zpColumnItem.c8, .zparea[data-numcolumns="6"] .zpColumnItem.c8 {
    float: left;
    width: 66.666666667%
}

.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c9, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c9, .zpgrid[data-numcolumns="6"] .zpColumnItem.c9, .zparea[data-numcolumns="6"] .zpColumnItem.c9, .zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c10, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c10, .zpgrid[data-numcolumns="6"] .zpColumnItem.c10, .zparea[data-numcolumns="6"] .zpColumnItem.c10 {
    float: left;
    width: 83.333333333%
}

.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c11, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c11, .zpgrid[data-numcolumns="6"] .zpColumnItem.c11, .zparea[data-numcolumns="6"] .zpColumnItem.c11, .zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c12, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c12, .zpgrid[data-numcolumns="6"] .zpColumnItem.c12, .zparea[data-numcolumns="6"] .zpColumnItem.c12 {
    float: left;
    width: 100%
}

.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c1, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c1, .zpgrid[data-numcolumns="4"] .zpColumnItem.c1, .zparea[data-numcolumns="4"] .zpColumnItem.c1, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c2, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c2, .zpgrid[data-numcolumns="4"] .zpColumnItem.c2, .zparea[data-numcolumns="4"] .zpColumnItem.c2, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c3, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c3, .zpgrid[data-numcolumns="4"] .zpColumnItem.c3, .zparea[data-numcolumns="4"] .zpColumnItem.c3 {
    float: left;
    width: 25%
}

.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c4, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c4, .zpgrid[data-numcolumns="4"] .zpColumnItem.c4, .zparea[data-numcolumns="4"] .zpColumnItem.c4, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c5, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c5, .zpgrid[data-numcolumns="4"] .zpColumnItem.c5, .zparea[data-numcolumns="4"] .zpColumnItem.c5, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c6, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c6, .zpgrid[data-numcolumns="4"] .zpColumnItem.c6, .zparea[data-numcolumns="4"] .zpColumnItem.c6 {
    float: left;
    width: 50%
}

.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c7, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c7, .zpgrid[data-numcolumns="4"] .zpColumnItem.c7, .zparea[data-numcolumns="4"] .zpColumnItem.c7, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c8, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c8, .zpgrid[data-numcolumns="4"] .zpColumnItem.c8, .zparea[data-numcolumns="4"] .zpColumnItem.c8, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c9, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c9, .zpgrid[data-numcolumns="4"] .zpColumnItem.c9, .zparea[data-numcolumns="4"] .zpColumnItem.c9 {
    float: left;
    width: 75%
}

.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c10, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c10, .zpgrid[data-numcolumns="4"] .zpColumnItem.c10, .zparea[data-numcolumns="4"] .zpColumnItem.c10, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c11, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c11, .zpgrid[data-numcolumns="4"] .zpColumnItem.c11, .zparea[data-numcolumns="4"] .zpColumnItem.c11, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c12, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c12, .zpgrid[data-numcolumns="4"] .zpColumnItem.c12, .zparea[data-numcolumns="4"] .zpColumnItem.c12 {
    float: left;
    width: 100%
}

div.zpRow.noresize .zpColumn.c1, div.zpRow.noresize .zpColumn.c2, div.zpRow.noresize .zpColumn.c3, div.zpRow.noresize .zpColumn.c4, div.zpRow.noresize .zpColumn.c5, div.zpRow.noresize .zpColumn.c6, div.zpRow.noresize .zpColumn.c7, div.zpRow.noresize .zpColumn.c8, div.zpRow.noresize .zpColumn.c9, div.zpRow.noresize .zpColumn.c10, div.zpRow.noresize .zpColumn.c11, div.zpRow.noresize .zpColumn.c12 {
    width: 100%
}

div.zpRow.noresize .zpSpacer {
    clear: both
}

@media (max-width: 667px) {
    div.zpRow .zpColumn.c1, .zpColumnItem.c1, div.zpRow .zpColumn.c2, .zpColumnItem.c2, div.zpRow .zpColumn.c3, .zpColumnItem.c3, div.zpRow .zpColumn.c4, .zpColumnItem.c4, div.zpRow .zpColumn.c5, .zpColumnItem.c5, div.zpRow .zpColumn.c6, .zpColumnItem.c6, div.zpRow .zpColumn.c7, .zpColumnItem.c7, div.zpRow .zpColumn.c8, .zpColumnItem.c8, div.zpRow .zpColumn.c9, .zpColumnItem.c9, div.zpRow .zpColumn.c10, .zpColumnItem.c10, div.zpRow .zpColumn.c11, .zpColumnItem.c11, div.zpRow .zpColumn.c12, .zpColumnItem.c12 {
        width: 100% !important
    }

    .zpSpacer {
        clear: both
    }

    .zpSpacer.hor {
        display: none
    }
}

body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) {
    padding-top: 30px;
    padding-bottom: 30px
}

body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) + .zpContainer:not(.zpBreakout) {
    margin-top: 30px
}

body:not(.withnews) .zpBreakout:not(.hasNews) .zpRow {
    width: 100%;
    margin: 0 auto;
    float: none
}

.responsivelayout.supportsbreakout body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) {
    width: calc(100vw - 9px);
    margin-left: calc(-50vw + 50%);
    box-sizing: border-box;
    padding: 30px 0 30px 9px
}

.responsivelayout.supportsbreakout body.touch:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) {
    width: 100vw
}

.responsivelayout.supportsbreakout body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) + .zpContainer:not(.zpBreakout) {
    margin-top: 30px
}

.responsivelayout.supportsbreakout body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) > .zpRow {
    max-width: 650px
}

.responsivelayout.supportsbreakout body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) + .zpRow {
    margin-top: 30px
}

.responsivelayout.supportsbreakout body:not(.withnews) .span8 .zpContainer.zpBreakout:not(.hasNews) {
    margin-left: calc(-50vw + 77%)
}

.supportsbreakout body:not(.withnews) .zpColumn .zpBreakout:not(.hasNews) {
    width: calc(100vw - 9px);
    margin-left: calc(-50vw + 50%);
    box-sizing: border-box;
    padding: 0;
    overflow: hidden !important
}

.zpVerticalCenter, div.zpRow.zpVerticalCenter, div.zpRow .zpVerticalCenter, div.zpRow .zpColumn.zpVerticalCenter, div.zpRow .zpColumn .zpVerticalCenter {
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.zpwSpacer {
    visibility: hidden;
    box-sizing: border-box;
    height: 30px;
    margin: 0 !important
}

.zpgrid.copiedlayout {
    margin-left: -15px;
    margin-right: -15px
}

a.button, input.button {
    display: inline-block;
    padding: 0;
    line-height: normal;
    border: 1px solid
}

a.button span, input.button {
    display: block;
    padding: 8px 15px
}

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
    outline: 0
}

.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none
}

.flexslider {
    margin: 0;
    padding: 0
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
    list-style-type: none
}

.flexslider .slides li > img {
    width: 100%;
    display: block;
    -moz-user-select: none
}

.flex-pauseplay span {
    text-transform: capitalize
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

html[xmlns] .slides {
    display: block
}

* html .slides {
    height: 1%
}

.no-js .flexslider .slides > li {
    display: block
}

.flexslider {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    zoom: 1
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease
}

.loading .flex-viewport {
    max-height: 300px
}

.flexslider .slides {
    zoom: 1
}

.carousel li {
    margin-right: 5px
}

.flex-direction-nav {
    *height: 0
}

.flex-direction-nav a {
    width: 30px;
    height: 30px;
    margin: -20px 0 0;
    display: block;
    background: url(../images/bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease
}

.flex-direction-nav .flex-next, .flex-direction-nav .next {
    background-position: 100% 0;
    right: -36px
}

.flex-direction-nav .flex-prev, .flex-direction-nav .prev {
    left: -36px
}

.edge .touch .flexslider:hover .flex-next, .edge .touch .flexslider:hover .next, .flexslider:hover .flex-next, .flexslider:hover .next {
    opacity: .8;
    right: 5px
}

.edge .touch .flexslider:hover .flex-prev, .edge .touch .flexslider:hover .prev, .flexslider:hover .flex-prev, .flexslider:hover .prev {
    opacity: .8;
    left: 5px
}

.flexslider:hover .flex-next:hover, .flexslider:hover .next:hover, .flexslider:hover .flex-prev:hover, .flexslider:hover .prev:hover {
    opacity: 1
}

.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: -1
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5)
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7)
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0
}

.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer
}

.flex-control-thumbs img:hover {
    opacity: 1
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default
}

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev, .flex-direction-nav .prev, .flexslider:hover .flex-direction-nav .flex-prev, .flexslider:hover .flex-direction-nav .prev {
        opacity: 1;
        left: 4px
    }

    .flex-direction-nav .flex-next, .flex-direction-nav .next, .flexslider:hover .flex-direction-nav .flex-next, .flexslider:hover .flex-direction-nav .next {
        opacity: 1;
        right: 4px
    }
}

@media print {
    .flex-control-nav, .flex-direction-nav {
        display: none !important
    }
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 7104;
    display: none
}

#fancybox-loading div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url('../images/fancybox/fancybox.png')
}

#fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7101;
    display: none
}

#fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none
}

#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 7101;
    outline: 0;
    display: none;
    box-sizing: content-box
}

#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px
}

#fancybox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: 0;
    position: relative;
    overflow: hidden;
    z-index: 7102;
    border: 0 solid #ff000a;
    border-radius: 5px
}

#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 6101
}

#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: transparent url('../images/fancybox/fancybox.png') -40px 0;
    cursor: pointer;
    z-index: 7103;
    display: none
}

#fancybox-error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 14px;
    margin: 0
}

#fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 0;
    vertical-align: top
}

#fancybox-frame {
    width: 100%;
    height: 100%;
    border: 0;
    display: block
}

#fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: 0;
    background: transparent url('../images/fancybox/blank.gif');
    z-index: 7102;
    display: none
}

#fancybox-left {
    left: 0
}

#fancybox-right {
    right: 0
}

#fancybox-left-ico, #fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 7102;
    display: block
}

#fancybox-left-ico {
    background-image: url('../images/fancybox/fancybox.png');
    background-position: -40px -30px
}

#fancybox-right-ico {
    background-image: url('../images/fancybox/fancybox.png');
    background-position: -40px -60px
}

#fancybox-left:hover, #fancybox-right:hover {
    visibility: visible
}

#fancybox-left:hover span {
    left: 20px
}

#fancybox-right:hover span {
    left: auto;
    right: 20px
}

.fancybox-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    z-index: 7001
}

#fancybox-bg-n {
    top: -20px;
    left: 0;
    width: 100%
}

#fancybox-bg-ne {
    top: -20px;
    right: -20px;
    background-position: -40px -162px
}

#fancybox-bg-e {
    top: 0;
    right: -20px;
    height: 100%;
    background-position: -20px 0
}

#fancybox-bg-se {
    bottom: -20px;
    right: -20px;
    background-position: -40px -182px
}

#fancybox-bg-s {
    bottom: -20px;
    left: 0;
    width: 100%;
    background-position: 0 -20px
}

#fancybox-bg-sw {
    bottom: -20px;
    left: -20px;
    background-position: -40px -142px
}

#fancybox-bg-w {
    top: 0;
    left: -20px;
    height: 100%
}

#fancybox-bg-nw {
    top: -20px;
    left: -20px;
    background-position: -40px -122px
}

#fancybox-title {
    z-index: 7102
}

.fancybox-title-inside {
    color: #fff;
    position: relative
}

.fancybox-title-outside {
    padding-top: 10px;
    color: #fff
}

.fancybox-title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: left
}

#fancybox-title-over {
    padding: 10px;
    background-image: url('../images/fancybox/fancy_title_over.png');
    display: block
}

#fancybox-title-over:empty {
    display: none
}

#fancybox-title-over p:last-child {
    margin-bottom: 0
}

.fancybox-title-inside #fancybox-title-over, .fancybox-title-outside #fancybox-title-over {
    background-image: none
}

.fancybox-title-float {
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 32px
}

#fancybox-title-float-wrap {
    border: 0;
    border-collapse: collapse;
    width: auto
}

#fancybox-title-float-wrap td {
    border: 0;
    white-space: nowrap
}

#fancybox-title-float-left {
    padding: 0 0 0 15px;
    background: url('../images/fancybox/fancybox.png') -40px -90px no-repeat
}

#fancybox-title-float-main {
    color: #FFF;
    line-height: 29px;
    font-weight: bold;
    padding: 0 0 3px 0;
    background: url('../images/fancybox/fancybox-x.png') 0 -40px
}

#fancybox-title-float-right {
    padding: 0 0 0 15px;
    background: url('../images/fancybox/fancybox.png') -55px -90px no-repeat
}

.asfield {
    display: none
}

form.zp-form, .zp-form input {
    max-width: 100%
}

.zp-form .asfield {
    display: none
}

.zp-form input.typetext, .zp-form input[type="text"], .zp-form input[type="number"], .zp-form input[type="email"], .zp-form input[type="tel"], .zp-form input[type="url"], .zp-form input[type="date"], .zp-form input[type="time"], .zp-form input[type="color"], .zp-form input[type="search"], .zp-form textarea {
    font-family: inherit;
    font-size: inherit;
    color: #333;
    background: #fff;
    padding: 6px 8px;
    border: 1px solid #9A9A9A;
    border: 1px solid rgba(0, 0, 0, 0.4);
    max-width: 100%
}

.zp-form ::-webkit-input-placeholder {
    opacity: 1;
    color: rgba(0, 0, 0, 0.4)
}

.zp-form :-moz-placeholder {
    opacity: 1;
    color: rgba(0, 0, 0, 0.4)
}

.zp-form ::-moz-placeholder {
    opacity: 1;
    color: rgba(0, 0, 0, 0.4)
}

.zp-form :-ms-input-placeholder {
    opacity: 1;
    color: rgba(0, 0, 0, 0.4)
}

.zp-form input:-ms-input-placeholder {
    opacity: 1;
    color: rgba(0, 0, 0, 0.4)
}

.zp-form select {
    font-family: inherit;
    font-size: inherit;
    color: #333
}

.zp-form label {
    font-family: inherit;
    font-size: inherit;
    padding: 3px 10px 3px 0
}

.zp-form label.field {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 0
}

.zp-form input[type="submit"], .zp-form input[type="reset"] {
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    margin-top: 20px
}

.zp-form input[type="reset"].button, .zp-form input[type="reset"].button:hover {
    float: right;
    border: 1px solid #666 !important;
    color: #666 !important;
    background: transparent !important;
    background-color: #fafafa !important
}

.zp-form input[type="reset"].button:hover {
    background-color: #ececec
}

.zp-form #recaptcha_area img {
    border: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important
}

html {
    overflow-y: scroll
}

html, body {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline-style: none;
    outline-color: invert;
    outline-width: 0;
    vertical-align: baseline;
    line-height: 1.6em;
    font-family: Arial, Trebuchet MS, sans-serif;
    font-size: 12px;
    color: #4C4D4C;
    background-color: #1D1D1D;
    background-color: transparent
}

h1 {
    border-bottom: #d8d8d8 1px solid;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    font-size: 25px;
    font-weight: normal;
    line-height: 29px;
    color: #4C4D4C
}

h1.no_border {
    border-bottom: medium none;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 25px;
    font-weight: normal;
    line-height: 29px;
    color: #4C4D4C
}

h2 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    font-size: 17px;
    font-weight: normal;
    color: #4C4D4C
}

h3 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    font-size: 17px;
    font-weight: normal;
    color: #4C4D4C
}

h4 {
    font-size: 12px;
    font-weight: normal;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0
}

h5 {
    font-size: 12px;
    font-weight: normal;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0
}

p {
    margin: 0 0 15px 0;
    padding: 0
}

ul {
    margin: 0 0 15px 0;
    padding: 0
}

ol {
    margin: 0 0 15px 2px;
    padding: 0
}

ul li {
    margin: 0 0 0 17px;
    padding: 0 0 5px 0;
    list-style: square
}

ol li {
    margin: 0 0 0 20px;
    padding: 0 0 5px 0;
    list-style: decimal
}

table {
    margin: 0;
    padding: 0
}

td {
    vertical-align: top
}

img {
    margin: 0;
    padding: 0;
    border-style: none
}

a:link, a:visited, a:hover, a:active {
    color: #0082D7;
    text-decoration: none
}

a:hover {
    color: #4C4D4C;
    text-decoration: none
}

#mainmenu {
    position: absolute !important;
    height: 40px;
    width: auto;
    top: 40px;
    right: 0;
    z-index: 100
}

#mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none
}

#mainmenu ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left
}

a.topmenu:link, a.topmenu:visited, a.topmenu:hover, a.topmenu:active, a.topmenuactive:link, a.topmenuactive:visited, a.topmenuactive:hover, a.topmenuactive:active {
    display: block;
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 0 8px;
    float: left;
    text-transform: uppercase;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    color: #6a6a6a;
    background-color: transparent;
    border: 1px solid #1D1D1D
}

a.topmenu:hover {
    color: #CBCBCB;
    background-color: #6a6a6a;
    border: 1px solid #1D1D1D
}

a.topmenuactive:link, a.topmenuactive:visited, a.topmenuactive:hover, a.topmenuactive:active {
    color: #CBCBCB;
    background-color: #373737;
    border: 1px solid #1D1D1D
}

#submenu1 {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: left
}

#submenu1 ul {
    margin: 0 0 15px 0;
    list-style: none
}

#submenu1 ul li {
    margin: 0;
    padding: 0;
    list-style: none
}

a.subnav1:link, a.subnav1:visited, a.subnav1:active, a.subnav1active:link, a.subnav1active:visited, a.subnav1active:active {
    padding-bottom: 5px;
    margin: 0 10px;
    padding-left: 25px;
    padding-right: 0;
    display: block;
    background: url(../images/arrow.png) no-repeat 5px 50%;
    padding-top: 5px;
    text-decoration: none;
    font-size: 12px;
    color: #4C4D4C;
    background-color: transparent;
    border-bottom: 1px dotted #ccc
}

a.subnav1:hover, a.subnav1active:hover {
    color: #0082D7;
    background-color: transparent;
    background-image: url(../images/stock-images/arrow.png);
    border-bottom: 1px dotted #ccc
}

a.subnav1active:link, a.subnav1active:visited, a.subnav1active:active {
    color: #0082D7;
    background-color: transparent;
    background-image: url(../images/stock-images/arrow.png);
    border-bottom: 1px dotted #ccc
}

a.subnav2:link, a.subnav2:visited, a.subnav2:active, a.subnav2active:link, a.subnav2active:visited, a.subnav2active:active {
    padding-bottom: 2px;
    margin: 0 10px;
    padding-left: 35px;
    padding-right: 0;
    display: block;
    padding-top: 2px;
    background: url(../images/stock-images/dot.png) no-repeat 25px 50%;
    text-decoration: none;
    font-size: 12px;
    color: #4C4D4C;
    background-color: transparent;
    border-bottom: 1px dotted #ccc
}

a.subnav2:hover, a.subnav2active:hover {
    color: #0082D7;
    background-color: transparent;
    background-image: url(../images/stock-images/dot.png);
    border-bottom: 1px dotted #ccc
}

a.subnav2active:link, a.subnav2active:visited, a.subnav2active:active {
    color: #0082D7;
    background-color: transparent;
    background-image: url(../images/stock-images/dot.png);
    border-bottom: 1px dotted #cccccc
}

#top {
    margin: 0;
    padding: 0
}

#master_wrapper {
    padding: 0;
    min-width: 1000px;
    height: auto;
    min-height: 100%;
    position: relative;
    margin: 0 auto
}

#header_wrapper {
    position: relative;
    min-width: 1000px;
    min-height: 200px
}

#content_wrapper {
    position: relative;
    min-width: 1000px;
    padding: 45px 0 80px 0
}

#footer_wrapper {
    position: absolute !important;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #3eb3ff;
    background-color: #1D1D1D
}

#footer #xmenu {
    position: relative;
    margin: 0 auto;
    padding-left: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    z-index: 10;
    float: left
}

#footer #xmenu a:link, #xmenu a:visited, #xmenu a:active {
    color: #fff;
    background-color: transparent;
    text-decoration: none
}

#footer #xmenu a:hover {
    color: #0082D7;
    background-color: transparent;
    text-decoration: underline
}

#header_top {
    min-height: 110px;
    background-color: #1D1D1D;
    overflow: hidden
}

#header_bottom {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #3eb3ff;
    height: auto;
    min-height: 90px;
    background: url(../images/stock-images/headerbottom_alpha.png) repeat-x #0082D7
}

.header_content_inner {
    position: relative;
    margin: 0 auto;
    padding-left: 10px;
    width: 960px;
    display: block
}

#header_webname_position {
    position: relative;
    width: 430px;
    height: 110px;
    top: 0;
    cursor: pointer;
    text-decoration: none;
    z-index: 100
}

#webdescription {
    float: left;
    margin: 0;
    padding: 17px 0 0 0
}

#logo {
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
    overflow: hidden
}

#webtext {
    float: left;
    margin: 0;
    padding: 7px 0 0 0
}

#webname {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    line-height: 35px;
    letter-spacing: 2px
}

#webname a {
    color: #fff;
    text-decoration: none
}

#slogan {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #0082D7;
    line-height: 19px;
    letter-spacing: 2px
}

#main {
    margin: 0;
    padding: 10px 0 0 0;
    float: left;
    height: auto;
    background-color: transparent;
    overflow: hidden
}

#main ol, #main ul {
    margin-left: 15px;
    margin-right: 15px
}

#banner, #afterlogo, #aftermenu, #afterfooter {
    font-size: 11px;
    color: #fff
}

.teaser-headline, #banner h2 {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    display: block
}

#banner {
    width: 940px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px
}

#afterlogo {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #3eb3ff;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background: url(../images/stock-images/headerbottom_alpha.png) repeat-x 0 bottom #0082D7
}

#afterfooter {
    position: relative;
    width: 980px;
    padding-bottom: 0;
    margin: 0 auto;
    padding-top: 0
}

#banner p, #afterlogo p, #aftermenu p, #beforenews p, #afternews p, #afterfooter p, .teasertext p {
    margin: 0;
    padding: 0
}

#banner img, #afterlogo img, #aftermenu img, #beforenews img, #afternews img, #afterfooter img {
    display: block
}

.teasertext {
    margin: 0;
    padding: 15px 15px 0 0;
    font-size: 11px;
    font-weight: normal;
    color: #fff
}

.greenline {
    color: #6FB42F;
    background-color: #6FB42F;
    height: 1px;
    width: 100%;
    border: 0
}

#sidebar {
    position: relative;
    width: 280px;
    float: right;
    background: url(../images/stock-images/sidebar_bg_begin.png) no-repeat 0 0
}

#sidebar_inner_wrap {
    padding-bottom: 60px;
    background: url(../images/stock-images/sidebar_bg_end.png) no-repeat 0 100%
}

#sidebar p {
    padding-bottom: 0
}

#sidebar h1 {
    font-size: 18px;
    font-weight: normal;
    color: #4C4D4C;
    border-bottom: #d8d8d8 1px solid;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 0;
    margin-bottom: 10px;
    padding-top: 10px
}

#sidebar .submenu1heading {
    font-size: 18px;
    font-weight: normal;
    color: #4C4D4C;
    border-bottom: #d8d8d8 1px solid;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    background: url(../images/stock-images/signpost.png) no-repeat 15px 6px
}

#sidebar .sidebarheading {
    font-size: 18px;
    font-weight: normal;
    color: #4C4D4C;
    border-bottom: #d8d8d8 1px solid;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    background: url(../images/stock-images/bullet_square_green.png) no-repeat 14px 6px
}

#sidebar .sidebarheadingnoimage {
    font-size: 18px;
    font-weight: normal;
    color: #4C4D4C;
    border-bottom: #d8d8d8 1px solid;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 0;
    margin-bottom: 10px;
    padding-top: 10px
}

#newsbox {
    padding: 0 15px
}

#newsbox .heading {
    font-size: 18px;
    font-weight: normal;
    color: #4C4D4C;
    border-bottom: #d8d8d8 1px solid;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    background: url(../images/stock-images/newspaper.png) no-repeat 0 6px
}

#newsbox h2 {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #4C4D4C;
    margin: 0 0 10px 0;
    padding: 0;
    height: auto
}

.new {
    color: #333;
    font-size: 14px
}

.newstext {
    height: auto;
    display: block;
    margin: 0;
    padding: 5px 0;
    font-size: 12px;
    color: #4C4D4C
}

.newstext p {
    margin: 0 0 10px 0;
    padding: 0;
    height: auto
}

#footer {
    position: relative;
    width: 1000px;
    padding-bottom: 0;
    margin: 0 auto;
    padding-top: 0
}

#footer p {
    position: relative;
    padding-bottom: 8px;
    line-height: 15px;
    margin: 0 auto;
    padding-left: 36px;
    padding-right: 36px;
    color: #eee;
    font-size: 11px;
    padding-top: 8px
}

#footer a {
    color: #fff
}

#footer a:hover {
    color: #0082D7
}

#copy {
    position: relative;
    padding-bottom: 8px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 10px;
    color: #eee;
    font-size: 11px;
    padding-top: 8px;
    text-align: right;
    float: right
}

#search_wrapper {
    position: absolute !important;
    right: 0;
    top: 20px
}

.searchform {
    border: 0
}

#fieldset {
    overflow: hidden;
    margin: 0;
    border: 0;
    white-space: nowrap
}

#searchfield {
    color: #4C4D4C;
    height: 24px;
    padding: 8px 0 0 5px;
    margin: 0;
    border: 1px solid #C7CBCA;
    vertical-align: middle;
    background-color: #FFF;
    font-size: 14px;
    width: 280px;
    background: url(../images/stock-images/searchbox_bg.png) #fff;
    -moz-border-radius: 5px;
    border-radius: 5px
}

#button_suche {
    margin: 0;
    padding: 0;
    position: absolute !important;
    right: 15px;
    top: 12px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

input.btn {
    padding: 0;
    margin: 0;
    font-family: Arial;
    color: #646564;
    font-size: 14px;
    height: 30px;
    border: 1px solid #2a302b;
    background-color: #171C18
}

input.btnhover {
    padding: 0;
    margin: 0;
    font-family: Arial;
    color: #FFF;
    font-size: 14px;
    height: 30px;
    border: 1px solid #2a302b;
    background-color: #212723;
    cursor: pointer
}

#content {
    margin: 0 auto;
    position: relative;
    width: 940px;
    background: url(../images/stock-images/content_bg.png) transparent no-repeat 0 0;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px
}

#page {
    position: relative;
    width: 620px;
    float: left
}

#page.fullwidth {
    width: 100%
}

.articlearea {
    margin: 0;
    padding: 0;
    line-height: 19px
}

.bildunterschrift {
    display: block;
    padding-top: 6px;
    font-size: 10px;
    color: #888
}

.articleimage {
    margin: 0;
    padding: 4px 0 0 0
}

.articletext {
    margin: 0;
    padding: 0
}

.twocolumnleft {
    float: left;
    margin: 0;
    padding: 0
}

.twocolumnleft > div {
    margin: 0;
    padding: 0 12px 0 0
}

.twocolumnright {
    margin: 0;
    padding: 0;
    overflow: hidden
}

.twocolumnright > div {
    margin: 0;
    padding: 0 0 0 12px
}

.floatarticle {
    float: left;
    margin: 0 0 30px 0;
    padding: 0;
    overflow: hidden
}

.floatarticle > div {
    margin: 0;
    padding: 0 30px 0 0
}

.galerie {
    margin: 0;
    padding: 15px 0 0 0;
    border-style: none;
    background: transparent
}

form {
    border: 0;
    padding: 0;
    margin: 5px 0 0 0
}

.zp-form {
    margin: 0;
    padding: 0
}

.zp-form p {
    margin: 0;
    padding: 0
}

.zp-form table {
    margin: 0;
    padding: 0;
    border: 0 transparent none;
    background-color: transparent
}

.zp-form td {
    white-space: nowrap;
    vertical-align: middle;
    padding: 5px 10px 5px 5px;
    margin: 0
}

.zp-form input {
    font-family: Arial, Trebuchet MS, sans-serif;
    font-size: 12px;
    color: #4C4D4C !important;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.zp-form textarea {
    font-family: Arial, Trebuchet MS, sans-serif;
    font-size: 12px;
    color: #4C4D4C;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.zp-form .label, .zp-form .desc {
    padding: 1px 15px 1px 0;
    background-color: transparent
}

.zp-form .submit {
    padding: 1px 15px 10px 0;
    background-color: transparent
}

.separator {
    padding: 0;
    margin: 0;
    line-height: 1px;
    height: 1px;
    border-bottom: 1px solid #4C4D4C
}

.zp-form .multiline {
    padding: 8px 15px 1px 0;
    vertical-align: top
}

.desc {
    padding: 4px 15px 4px 0
}

.columntd1 {
    width: 50%;
    padding-right: 10px;
    border-right-color: #d8d8d8;
    border-right-style: solid;
    border-right-width: 1px
}

.columntd2 {
    padding-left: 10px
}

.db_table {
    margin: 13px 0 0 0;
    padding: 0;
    width: 100%
}

.dbheader {
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    background: #0070c3
}

.dbrow1, .dbrow2 {
    margin: 0;
    padding: 5px 5px 5px 10px;
    vertical-align: middle
}

.dbrow2 {
    background: #d7e7f7
}

.dbrow1 {
    background: #e6f0fa
}

#breadcrumb {
    position: absolute !important;
    overflow: hidden;
    margin: 0;
    padding: 45px 0;
    color: #fff;
    font-size: 12px
}

#breadcrumb a {
    color: #fff
}

#breadcrumb a:hover, a:active {
    color: #171C18
}

#flashcontent {
    margin: 0;
    padding: 0
}

.zp {
    color: #eee !important;
    text-decoration: none !important
}

.clear {
    clear: both
}

.clearfix:after {
    line-height: 0;
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    content: "."
}

.clearfix {
    display: block
}

HTML[xmlns] .clearfix {
    display: block
}

* HTML .clearfix {
    height: 1%
}

.clearx {
    clear: both;
    margin: 0;
    padding: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
}

#print {
    display: none
}

.asfield {
    display: none
}

.zpgrid {
    margin-left: -15px;
    margin-right: -15px
}

.zpgrid #grid {
    max-width: 980px
}

#sidebar .zpColumn {
    padding: 0
}

#banner .zpContainer.zpBreakout, #page.fullwidth .zpContainer.zpBreakout {
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px
}

#banner .zpColumn .zpBreakout, #page.fullwidth .zpColumn .zpBreakout {
    margin-left: -20px !important;
    margin-right: -20px !important;
    padding-left: 0 !important;
    padding-right: 0 !important
}

#afterfooter .zpContainer.zpBreakout {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px
}

body.plain #page.fullwidth {
    width: 100%
}

.zpSO-rss-feed p.channel {
    font-weight: bold
}

.zpSO-rss-feed p span {
    display: none
}

#zpSO-OnlineShop-BasketSummary {
    position: relative;
    text-align: right
}

.zpSO-OnlineShop-table {
    margin: 13px 0 0 0;
    padding: 0;
    width: 100%
}

.zpSO-OnlineShop-th {
    margin: 0;
    padding: 0 0 0 10px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    background: #4C4D4C
}

.zpSO-OnlineShop-row1, .zpSO-OnlineShop-row2 {
    margin: 0;
    padding: 5px 5px 5px 10px;
    vertical-align: middle
}

.zpSO-OnlineShop-row2 {
    background: #f7f7f7
}