div.zpRow {
    margin-bottom: 30px
}

div.zpRow:after {
    visibility: hidden;
    display: block;
    content: "";)
    clear: both;
    height: 0
}

div.zpRow div.zpColumn img.singleImage {
    max-width: 100% !important;
    height: auto !important;
    display: inline-block
}

div.zpRow div.zpColumn .zpImageGallery img.singleImage {
    display: block
}

div.zpRow div.zpColumn .zpImageGallery a.fancybox {
    max-width: 100%
}

div.zpRow div.zpColumn div.zpColumnItem {
    display: block;
    float: left;
    padding: 0
}

@media print {
    div.zpRow {
        margin-bottom: 0 !important
    }

    html, body {
        height: auto
    }

    #top {
        page-break-before: always
    }

    .zp13slider-control-nav, .zp13slider-control-paging, .zp13slider-direction-nav, .flex-control-nav, .flex-direction-nav {
        display: none !important
    }
}

h1, h2, h3, h4, h5, h6, .zphyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word
}

.zphyphenate {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    -webkit-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-lines: 2;
    hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-chars: auto 3;
    -moz-hyphenate-limit-chars: auto 3;
    -ms-hyphenate-limit-chars: auto 3;
    hyphenate-limit-chars: auto 3
}

.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: -1
}

iframe, object, embed, .zpwIFrame, .zpwFacebook_Like-Button, .zpwFacebook_Like-Box, div.fb-like {
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

img[width="1px"], img[width="1"], .plain > img, img.plain {
    border: none !important;
    box-shadow: none !important
}

div.zpRow .zpColumn {
    margin-bottom: 1em
}

div.zpRow .zpColumn, .zpColumnItem {
    box-sizing: border-box;
    max-width: 100%
}

.zpColumnItem {
    width: 100%
}

div.zpRow .zpColumn {
    padding: 0 15px
}

.c1, .c2, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    box-sizing: border-box
}

div.zpRow .zpColumn.c12, .zpColumnItem.c12 {
    float: left;
    width: 100%
}

div.zpRow .zpColumn.c11, .zpColumnItem.c11 {
    float: left;
    width: 91.666666667%
}

div.zpRow .zpColumn.c10, .zpColumnItem.c10 {
    float: left;
    width: 83.333333333%
}

div.zpRow .zpColumn.c9, .zpColumnItem.c9 {
    float: left;
    width: 75%
}

div.zpRow .zpColumn.c8, .zpColumnItem.c8 {
    float: left;
    width: 66.666666667%
}

div.zpRow .zpColumn.c7, .zpColumnItem.c7 {
    float: left;
    width: 58.333333333%
}

div.zpRow .zpColumn.c6, .zpColumnItem.c6 {
    float: left;
    width: 50%
}

div.zpRow .zpColumn.c5, .zpColumnItem.c5 {
    float: left;
    width: 41.666666667%
}

div.zpRow .zpColumn.c4, .zpColumnItem.c4 {
    float: left;
    width: 33.333333333%
}

div.zpRow .zpColumn.c3, .zpColumnItem.c3 {
    float: left;
    width: 25%
}

div.zpRow .zpColumn.c2, .zpColumnItem.c2 {
    float: left;
    width: 16.666666667%
}

div.zpRow .zpColumn.c1, .zpColumnItem.c1 {
    float: left;
    width: 8.333333333%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c1, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c1, .zpgrid[data-numcolumns="8"] .zpColumnItem.c1, .zparea[data-numcolumns="8"] .zpColumnItem.c1, .zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c2, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c2, .zpgrid[data-numcolumns="8"] .zpColumnItem.c2, .zparea[data-numcolumns="8"] .zpColumnItem.c2 {
    float: left;
    width: 12.5%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c3, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c3, .zpgrid[data-numcolumns="8"] .zpColumnItem.c3, .zparea[data-numcolumns="8"] .zpColumnItem.c3 {
    float: left;
    width: 25%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c4, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c4, .zpgrid[data-numcolumns="8"] .zpColumnItem.c4, .zparea[data-numcolumns="8"] .zpColumnItem.c4, .zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c5, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c5, .zpgrid[data-numcolumns="8"] .zpColumnItem.c5, .zparea[data-numcolumns="8"] .zpColumnItem.c5 {
    float: left;
    width: 37.5%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c6, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c6, .zpgrid[data-numcolumns="8"] .zpColumnItem.c6, .zparea[data-numcolumns="8"] .zpColumnItem.c6 {
    float: left;
    width: 50%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c7, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c7, .zpgrid[data-numcolumns="8"] .zpColumnItem.c7, .zparea[data-numcolumns="8"] .zpColumnItem.c7, .zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c8, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c8, .zpgrid[data-numcolumns="8"] .zpColumnItem.c8, .zparea[data-numcolumns="8"] .zpColumnItem.c8 {
    float: left;
    width: 62.5%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c9, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c9, .zpgrid[data-numcolumns="8"] .zpColumnItem.c9, .zparea[data-numcolumns="8"] .zpColumnItem.c9 {
    float: left;
    width: 75%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c10, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c10, .zpgrid[data-numcolumns="8"] .zpColumnItem.c10, .zparea[data-numcolumns="8"] .zpColumnItem.c10, .zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c11, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c11, .zpgrid[data-numcolumns="8"] .zpColumnItem.c11, .zparea[data-numcolumns="8"] .zpColumnItem.c11 {
    float: left;
    width: 87.5%
}

.zpgrid[data-numcolumns="8"] div.zpRow .zpColumn.c12, .zparea[data-numcolumns="8"] div.zpRow .zpColumn.c12, .zpgrid[data-numcolumns="8"] .zpColumnItem.c12, .zparea[data-numcolumns="8"] .zpColumnItem.c12 {
    float: left;
    width: 100%
}

.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c1, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c1, .zpgrid[data-numcolumns="6"] .zpColumnItem.c1, .zparea[data-numcolumns="6"] .zpColumnItem.c1, .zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c2, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c2, .zpgrid[data-numcolumns="6"] .zpColumnItem.c2, .zparea[data-numcolumns="6"] .zpColumnItem.c2 {
    float: left;
    width: 16.666666667%
}

.zpgrid[data-numcolumns="6"]{}


div.zpRow .zpColumn.c3, .zparea[data-numcolumns="6"] {}

div.zpRow .zpColumn.c3, .zpgrid[data-numcolumns="6"] .zpColumnItem.c3, .zparea[data-numcolumns="6"] .zpColumnItem.c3, .zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c4, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c4, .zpgrid[data-numcolumns="6"] .zpColumnItem.c4, .zparea[data-numcolumns="6"] .zpColumnItem.c4 {
    float: left;
    width: 33.333333333%
}

.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c5, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c5, .zpgrid[data-numcolumns="6"] .zpColumnItem.c5, .zparea[data-numcolumns="6"] .zpColumnItem.c5, .zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c6, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c6, .zpgrid[data-numcolumns="6"] .zpColumnItem.c6, .zparea[data-numcolumns="6"] .zpColumnItem.c6 {
    float: left;
    width: 50%
}

.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c7, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c7, .zpgrid[data-numcolumns="6"] .zpColumnItem.c7, .zparea[data-numcolumns="6"] .zpColumnItem.c7, .zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c8, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c8, .zpgrid[data-numcolumns="6"] .zpColumnItem.c8, .zparea[data-numcolumns="6"] .zpColumnItem.c8 {
    float: left;
    width: 66.666666667%
}

.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c9, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c9, .zpgrid[data-numcolumns="6"] .zpColumnItem.c9, .zparea[data-numcolumns="6"] .zpColumnItem.c9, .zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c10, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c10, .zpgrid[data-numcolumns="6"] .zpColumnItem.c10, .zparea[data-numcolumns="6"] .zpColumnItem.c10 {
    float: left;
    width: 83.333333333%
}

.zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c11, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c11, .zpgrid[data-numcolumns="6"] .zpColumnItem.c11, .zparea[data-numcolumns="6"] .zpColumnItem.c11, .zpgrid[data-numcolumns="6"] div.zpRow .zpColumn.c12, .zparea[data-numcolumns="6"] div.zpRow .zpColumn.c12, .zpgrid[data-numcolumns="6"] .zpColumnItem.c12, .zparea[data-numcolumns="6"] .zpColumnItem.c12 {
    float: left;
    width: 100%
}

.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c1, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c1, .zpgrid[data-numcolumns="4"] .zpColumnItem.c1, .zparea[data-numcolumns="4"] .zpColumnItem.c1, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c2, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c2, .zpgrid[data-numcolumns="4"] .zpColumnItem.c2, .zparea[data-numcolumns="4"] .zpColumnItem.c2, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c3, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c3, .zpgrid[data-numcolumns="4"] .zpColumnItem.c3, .zparea[data-numcolumns="4"] .zpColumnItem.c3 {
    float: left;
    width: 25%
}

.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c4, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c4, .zpgrid[data-numcolumns="4"] .zpColumnItem.c4, .zparea[data-numcolumns="4"] .zpColumnItem.c4, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c5, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c5, .zpgrid[data-numcolumns="4"] .zpColumnItem.c5, .zparea[data-numcolumns="4"] .zpColumnItem.c5, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c6, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c6, .zpgrid[data-numcolumns="4"] .zpColumnItem.c6, .zparea[data-numcolumns="4"] .zpColumnItem.c6 {
    float: left;
    width: 50%
}

.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c7, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c7, .zpgrid[data-numcolumns="4"] .zpColumnItem.c7, .zparea[data-numcolumns="4"] .zpColumnItem.c7, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c8, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c8, .zpgrid[data-numcolumns="4"] .zpColumnItem.c8, .zparea[data-numcolumns="4"] .zpColumnItem.c8, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c9, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c9, .zpgrid[data-numcolumns="4"] .zpColumnItem.c9, .zparea[data-numcolumns="4"] .zpColumnItem.c9 {
    float: left;
    width: 75%
}

.zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c10, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c10, .zpgrid[data-numcolumns="4"] .zpColumnItem.c10, .zparea[data-numcolumns="4"] .zpColumnItem.c10, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c11, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c11, .zpgrid[data-numcolumns="4"] .zpColumnItem.c11, .zparea[data-numcolumns="4"] .zpColumnItem.c11, .zpgrid[data-numcolumns="4"] div.zpRow .zpColumn.c12, .zparea[data-numcolumns="4"] div.zpRow .zpColumn.c12, .zpgrid[data-numcolumns="4"] .zpColumnItem.c12, .zparea[data-numcolumns="4"] .zpColumnItem.c12 {
    float: left;
    width: 100%
}

div.zpRow.noresize .zpColumn.c1, div.zpRow.noresize .zpColumn.c2, div.zpRow.noresize .zpColumn.c3, div.zpRow.noresize .zpColumn.c4, div.zpRow.noresize .zpColumn.c5, div.zpRow.noresize .zpColumn.c6, div.zpRow.noresize .zpColumn.c7, div.zpRow.noresize .zpColumn.c8, div.zpRow.noresize .zpColumn.c9, div.zpRow.noresize .zpColumn.c10, div.zpRow.noresize .zpColumn.c11, div.zpRow.noresize .zpColumn.c12 {
    width: 100%
}

div.zpRow.noresize .zpSpacer {
    clear: both
}

@media (max-width: 667px) {
    div.zpRow .zpColumn.c1, .zpColumnItem.c1, div.zpRow .zpColumn.c2, .zpColumnItem.c2, div.zpRow .zpColumn.c3, .zpColumnItem.c3, div.zpRow .zpColumn.c4, .zpColumnItem.c4, div.zpRow .zpColumn.c5, .zpColumnItem.c5, div.zpRow .zpColumn.c6, .zpColumnItem.c6, div.zpRow .zpColumn.c7, .zpColumnItem.c7, div.zpRow .zpColumn.c8, .zpColumnItem.c8, div.zpRow .zpColumn.c9, .zpColumnItem.c9, div.zpRow .zpColumn.c10, .zpColumnItem.c10, div.zpRow .zpColumn.c11, .zpColumnItem.c11, div.zpRow .zpColumn.c12, .zpColumnItem.c12 {
        width: 100% !important
    }

    .zpSpacer {
        clear: both
    }

    .zpSpacer.hor {
        display: none
    }
}

body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) {
    padding-top: 30px;
    padding-bottom: 30px
}

body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) + .zpContainer:not(.zpBreakout) {
    margin-top: 30px
}

body:not(.withnews) .zpBreakout:not(.hasNews) .zpRow {
    width: 100%;
    margin: 0 auto;
    float: none
}

.responsivelayout.supportsbreakout body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) {
    width: calc(100vw - 9px);
    margin-left: calc(-50vw + 50%);
    box-sizing: border-box;
    padding: 30px 0 30px 9px
}

.responsivelayout.supportsbreakout body.touch:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) {
    width: 100vw
}

.responsivelayout.supportsbreakout body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) + .zpContainer:not(.zpBreakout) {
    margin-top: 30px
}

.responsivelayout.supportsbreakout body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) > .zpRow {
    max-width: 870px
}

.responsivelayout.supportsbreakout body:not(.withnews) .zpContainer.zpBreakout:not(.hasNews) + .zpRow {
    margin-top: 30px
}

.responsivelayout.supportsbreakout body:not(.withnews) .span8 .zpContainer.zpBreakout:not(.hasNews) {
    margin-left: calc(-50vw + 77%)
}

.supportsbreakout body:not(.withnews) .zpColumn .zpBreakout:not(.hasNews) {
    width: calc(100vw - 9px);
    margin-left: calc(-50vw + 50%);
    box-sizing: border-box;
    padding: 0;
    overflow: hidden !important
}

.zpVerticalCenter, div.zpRow.zpVerticalCenter, div.zpRow .zpVerticalCenter, div.zpRow .zpColumn.zpVerticalCenter, div.zpRow .zpColumn .zpVerticalCenter {
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.zpwSpacer {
    visibility: hidden;
    box-sizing: border-box;
    height: 30px;
    margin: 0 !important
}

.zpgrid.copiedlayout {
    margin-left: -15px;
    margin-right: -15px
}

a.button, input.button {
    display: inline-block;
    padding: 0;
    line-height: normal;
    border: 1px solid
}

a.button span, input.button {
    display: block;
    padding: 8px 15px
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 7104;
    display: none
}

#fancybox-loading div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url('../images/fancybox/fancybox.png')
}

#fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7101;
    display: none
}

#fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none
}

#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 7101;
    outline: 0;
    display: none;
    box-sizing: content-box
}

#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px
}

#fancybox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: 0;
    position: relative;
    overflow: hidden;
    z-index: 7102;
    border: 0 solid #ff000a;
    border-radius: 5px
}

#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 6101
}

#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: transparent url('../images/fancybox/fancybox.png') -40px 0;
    cursor: pointer;
    z-index: 7103;
    display: none
}

#fancybox-error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 14px;
    margin: 0
}

#fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 0;
    vertical-align: top
}

#fancybox-frame {
    width: 100%;
    height: 100%;
    border: 0;
    display: block
}

#fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: 0;
    background: transparent url('../images/fancybox/blank.gif');
    z-index: 7102;
    display: none
}

#fancybox-left {
    left: 0
}

#fancybox-right {
    right: 0
}

#fancybox-left-ico, #fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 7102;
    display: block
}

#fancybox-left-ico {
    background-image: url('../images/fancybox/fancybox.png');
    background-position: -40px -30px
}

#fancybox-right-ico {
    background-image: url('../images/fancybox/fancybox.png');
    background-position: -40px -60px
}

#fancybox-left:hover, #fancybox-right:hover {
    visibility: visible
}

#fancybox-left:hover span {
    left: 20px
}

#fancybox-right:hover span {
    left: auto;
    right: 20px
}

.fancybox-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    z-index: 7001
}

#fancybox-bg-n {
    top: -20px;
    left: 0;
    width: 100%
}

#fancybox-bg-ne {
    top: -20px;
    right: -20px;
    background-position: -40px -162px
}

#fancybox-bg-e {
    top: 0;
    right: -20px;
    height: 100%;
    background-position: -20px 0
}

#fancybox-bg-se {
    bottom: -20px;
    right: -20px;
    background-position: -40px -182px
}

#fancybox-bg-s {
    bottom: -20px;
    left: 0;
    width: 100%;
    background-position: 0 -20px
}

#fancybox-bg-sw {
    bottom: -20px;
    left: -20px;
    background-position: -40px -142px
}

#fancybox-bg-w {
    top: 0;
    left: -20px;
    height: 100%
}

#fancybox-bg-nw {
    top: -20px;
    left: -20px;
    background-position: -40px -122px
}

#fancybox-title {
    z-index: 7102
}

.fancybox-title-inside {
    color: #fff;
    position: relative
}

.fancybox-title-outside {
    padding-top: 10px;
    color: #fff
}

.fancybox-title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: left
}

#fancybox-title-over {
    padding: 10px;
    background-image: url('../images/fancybox/fancy_title_over.png');
    display: block
}

#fancybox-title-over:empty {
    display: none
}

#fancybox-title-over p:last-child {
    margin-bottom: 0
}

.fancybox-title-inside #fancybox-title-over, .fancybox-title-outside #fancybox-title-over {
    background-image: none
}

.fancybox-title-float {
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 32px
}

#fancybox-title-float-wrap {
    border: 0;
    border-collapse: collapse;
    width: auto
}

#fancybox-title-float-wrap td {
    border: 0;
    white-space: nowrap
}

#fancybox-title-float-left {
    padding: 0 0 0 15px;
    background: url('../images/fancybox/fancybox.png') -40px -90px no-repeat
}

#fancybox-title-float-main {
    color: #FFF;
    line-height: 29px;
    font-weight: bold;
    padding: 0 0 3px 0;
    background: url('../images/fancybox/fancybox-x.png') 0 -40px
}

#fancybox-title-float-right {
    padding: 0 0 0 15px;
    background: url('../images/fancybox/fancybox.png') -55px -90px no-repeat
}

table.zptabledata {
    width: 100%;
    border-collapse: collapse
}

table.zptabledata th, table.zptabledata td {
    padding: 5px 10px;
    text-align: left;
    vertical-align: top
}

@media screen and (max-width: 640px) {
    table.zptabledata {
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    table.zptabledata th, table.zptabledata td {
        white-space: nowrap
    }
}

/*!
 * ZP Eventcalendar CSS
 * Copyright Zeta Software GmbH
 */
#ui-datepicker-div {
    z-index: 200 !important;
    background-color: #fff !important
}

div.eventOverview {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse
}

div.eventOverview div.event {
    padding: 10px;
    overflow: hidden
}

div.eventOverview div.event div.eventdate {
    width: 28%;
    float: left;
    font-weight: bolder
}

div.eventOverview div.event div.eventinfo {
    width: 67%;
    float: right
}

div.eventOverview div.event div.eventinfo a.title {
    font-weight: bolder
}

div.eventOverview div.event div.eventinfo a.title img {
    float: right;
    width: 140px;
    margin-left: 15px;
    border: 1px solid white
}

.eventCalendar div.filter button.resetfilters {
    display: inline-block;
    margin-top: 1em
}

.eventCalendar div.filter {
    padding: 10px;
    overflow: hidden;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.eventCalendar div.filteritem {
    float: left;
    margin-right: 20px
}

.eventCalendar div.filteritem select, .eventCalendar div.filteritem input {
    width: 120px
}

@media (max-width: 580px) {
    div.eventOverview div.event div.eventdate {
        margin-bottom: 10px
    }

    div.eventOverview div.event div.eventdate, div.eventOverview div.event div.eventinfo {
        float: none;
        width: 100%
    }

    div.eventOverview div.event div.eventinfo a.title img {
        float: none;
        margin-left: 0;
        width: auto;
        margin-bottom: 10px
    }
}

div.eventdetail .ecinfo {
    font-weight: bold
}

div.eventdetail .eccaption {
    margin-top: 6px;
    font-style: italic
}

.asfield {
    display: none
}

form.zp-form, .zp-form input {
    max-width: 100%
}

.zp-form .asfield {
    display: none
}

.zp-form input.typetext, .zp-form input[type="text"], .zp-form input[type="number"], .zp-form input[type="email"], .zp-form input[type="tel"], .zp-form input[type="url"], .zp-form input[type="date"], .zp-form input[type="time"], .zp-form input[type="color"], .zp-form input[type="search"], .zp-form textarea {
    font-family: inherit;
    font-size: inherit;
    color: #333;
    background: #fff;
    padding: 6px 8px;
    border: 1px solid #9A9A9A;
    border: 1px solid rgba(0, 0, 0, 0.4);
    max-width: 100%
}

.zp-form ::-webkit-input-placeholder {
    opacity: 1;
    color: rgba(0, 0, 0, 0.4)
}

.zp-form :-moz-placeholder {
    opacity: 1;
    color: rgba(0, 0, 0, 0.4)
}

.zp-form ::-moz-placeholder {
    opacity: 1;
    color: rgba(0, 0, 0, 0.4)
}

.zp-form :-ms-input-placeholder {
    opacity: 1;
    color: rgba(0, 0, 0, 0.4)
}

.zp-form input:-ms-input-placeholder {
    opacity: 1;
    color: rgba(0, 0, 0, 0.4)
}

.zp-form select {
    font-family: inherit;
    font-size: inherit;
    color: #333
}

.zp-form label {
    font-family: inherit;
    font-size: inherit;
    padding: 3px 10px 3px 0
}

.zp-form label.field {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 0
}

.zp-form input[type="submit"], .zp-form input[type="reset"] {
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    margin-top: 20px
}

.zp-form input[type="reset"].button, .zp-form input[type="reset"].button:hover {
    float: right;
    border: 1px solid #666 !important;
    color: #666 !important;
    background: transparent !important;
    background-color: #fafafa !important
}

.zp-form input[type="reset"].button:hover {
    background-color: #ececec
}

.zp-form #recaptcha_area img {
    border: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important
}

.zp13carousel-container a:active, .zp13carousel a:active, .zp13carousel-container a:focus, .zp13carousel a:focus {
    outline: 0
}

ul.zp13carousel {
    margin: 0;
    padding: 0 !important;
    list-style: none !important
}

.zp13carousel-control-nav, .zp13carousel-direction-nav {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important
}

.zp13carouselWidget {
    margin: 0;
    padding: 0;
    overflow: hidden
}

.zp13carouselWidget ul.zp13carousel > li {
    display: none;
    -webkit-backface-visibility: hidden;
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important
}

.zp13carouselWidget li:before, .zp13carouselWidget li:after {
    content: none !important
}

.no-js ul.zp13carousel > li {
    display: block
}

.zp13carouselWidget ul.zp13carousel img {
    max-width: none;
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0
}

.zp13carousel-pauseplay span {
    text-transform: capitalize
}

ul.zp13carousel:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

html[xmlns] ul.zp13carousel {
    display: block
}

* html ul.zp13carousel {
    height: 1%
}

.no-js ul.zp13carousel > li {
    display: block
}

.zp13carouselWidget {
    position: relative;
    zoom: 1;
    z-index: 1
}

.zp13carousel-viewport {
    max-height: 2000px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease
}

.loading .zp13carousel-viewport {
    max-height: 300px
}

.zp13carouselWidget ul.zp13carousel {
    zoom: 1
}

.carousel li {
    margin-right: 5px
}

.zp13carousel-direction-nav .zp13carousel-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: -1
}

.zp13carousel-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
    z-index: 10
}

.zp13carousel-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1
}

.zp13carousel-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5)
}

.zp13carousel-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7)
}

.zp13carousel-control-paging li a.zp13carousel-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default
}

.zp13carousel-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden
}

.zp13carousel-control-thumbs img {
    display: block;
    opacity: .7;
    cursor: pointer
}

.zp13carousel-control-thumbs img:hover {
    opacity: 1
}

.zp13carousel-control-thumbs .zp13carousel-active {
    opacity: 1;
    cursor: default
}

div.zp13carouselWidget li img, #content div.zp13carouselWidget li img, .content div.zp13carouselWidget li img {
    border: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important
}

.zp13carouselWidget ul.zp13carousel {
    overflow: hidden;
    -webkit-animation: fadeIn 1800ms ease-out;
    -o-animation: fadeIn 1800ms ease-out;
    -moz-animation: fadeIn 1800ms ease-out;
    animation: fadeIn 1800ms ease-out
}

.zp13carouselWidget ul.zp13carousel > li {
    position: relative
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.zp13carouselWidget .zp13carousel-caption {
    opacity: 1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    left: auto;
    right: auto;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    font-weight: normal
}

.zp13carouselWidget.captiononhover .zp13carousel-caption {
    -webkit-transition: opacity 250ms ease-out;
    transition: opacity 250ms ease-out;
    opacity: 0
}

.zp13carouselWidget.captiononhover .zp13carousel-caption:hover {
    -webkit-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
    opacity: 1
}

.zp13carouselWidget .zp13carousel-caption span {
    position: absolute;
    padding: 10px 0;
    top: 50%;
    left: 20px;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.zp13carouselWidget .zp13carousel-caption.relative {
    position: relative;
    margin: 0 auto 60px auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

#fancybox-title-over.zp13carousel, #fancybox-title-over.zp13carousel h1, #fancybox-title-over.zp13carousel h2, #fancybox-title-over.zp13carousel h3, #fancybox-title-over.zp13carousel h4, #fancybox-title-over.zp13carousel h5, #fancybox-title-over.zp13carousel h6 {
    margin-top: 0;
    color: #fff;
    border: 0
}

.zp13carouselWidget .zp13carousel-caption {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7)
}

.zp13carouselWidget .zp13carousel-caption h1, .zp13carouselWidget .zp13carousel-caption h2, .zp13carouselWidget .zp13carousel-caption h3 {
    text-align: inherit;
    color: inherit;
    text-shadow: inherit;
    border: 0
}

.zp13carouselWidget .zp13carousel-caption h1:first-child, .zp13carouselWidget .zp13carousel-caption h2:first-child, .zp13carouselWidget .zp13carousel-caption h3:first-child {
    margin-top: 0
}

.zp13carousel-direction-nav a {
    width: 29px;
    height: 29px;
    margin: -20px 0 0;
    display: block;
    background: url(../images/zp13_carousel_bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.zp13carousel-direction-nav .zp13carousel-next, .zp13carousel-direction-nav .next {
    background-position: 100% 0;
    right: -36px
}

.zp13carousel-direction-nav .zp13carousel-prev, .zp13carousel-direction-nav .prev {
    left: -36px
}

.edge .touch .zp13carousel-direction-nav .zp13carousel-next, .edge .touch .zp13carousel-direction-nav .next, .zp13carouselWidget:hover .zp13carousel-next, .zp13carouselWidget:hover .next {
    opacity: .75;
    right: 0
}

.edge .touch .zp13carousel-direction-nav .zp13carousel-prev, .edge .touch .zp13carousel-direction-nav .prev, .zp13carouselWidget:hover .zp13carousel-prev, .zp13carouselWidget:hover .prev {
    opacity: .75;
    left: 0
}

.zp13carouselWidget:hover .zp13carousel-next:hover, .zp13carouselWidget:hover .next:hover, .zp13carouselWidget:hover .zp13carousel-prev:hover, .zp13carouselWidget:hover .prev:hover {
    opacity: 1
}

.zp13carouselWidget .zp13carousel-control-nav li, .zp13carouselWidget .zp13carousel-direction-nav li {
    list-style: none !important
}

.zp13carouselWidget .zp13carousel-control-nav {
    position: absolute;
    bottom: 20px;
    top: auto
}

.zp13carouselWidget.captionbottom .zp13carousel-control-nav {
    bottom: auto;
    top: 20px
}

.zp13carouselWidget .zp13carousel-control-thumbs {
    position: static;
    margin: 5px 0 0 0
}

.zp13carouselWidget .zp13carousel-control-nav li {
    list-style-type: none !important;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 6px;
    padding: 0;
    text-align: left
}

.zp13carouselWidget .zp13carousel-control-thumbs li {
    width: auto;
    height: auto;
    float: left;
    margin: 0
}

.zp13carouselWidget .zp13carousel-control-nav li a {
    box-sizing: border-box;
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -3px;
    width: 8px;
    height: 8px;
    border: 0;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15)
}

.zp13carouselWidget .zp13carousel-control-nav li a.zp13carousel-active, .zp13carouselWidget .zp13carousel-control-nav li a:hover {
    top: 0;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    background-color: transparent
}

.ie .zp13carouselWidget .zp13carousel-caption {
    overflow: hidden
}

html {
    overflow-y: scroll
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    background-color: transparent;
    background-repeat: repeat
}

h1, h2, h3, h4, h5, h6 {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    hyphens: none;
    -webkit-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-lines: 2;
    hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-chars: auto 3;
    -moz-hyphenate-limit-chars: auto 3;
    -ms-hyphenate-limit-chars: auto 3;
    hyphenate-limit-chars: auto 3;
}

p {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    hyphens: none;
    -webkit-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-lines: 2;
    hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-chars: auto 3;
    -moz-hyphenate-limit-chars: auto 3;
    -ms-hyphenate-limit-chars: auto 3;
    hyphenate-limit-chars: auto 3
}

h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 40px;
    font-weight: normal;
    line-height: normal;
    color: #0082d7;
    position: relative
}

h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 10px 0 10px 0;
    padding: 0;
    font-size: 32px;
    font-weight: normal;
    line-height: normal;
    color: #0082d7
}

h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 10px 0 10px 0;
    padding: 0;
    font-size: 26px;
    font-weight: normal;
    line-height: normal;
    color: #0082d7
}

p {
    margin: 0 0 10px 0;
    padding: 0
}

ul, ol {
    margin: auto auto 10px 25px;
    padding: 0
}

ul li {
    margin: 0;
    padding: 0;
    list-style: square
}

ol li {
    margin: 0;
    padding: 0;
    list-style: decimal
}

table {
    margin: 0 0 10px 0;
    padding: 0
}

td {
    vertical-align: top
}

img {
    margin: 0;
    padding: 0;
    border-style: none;
    max-width: 100%;
    height: auto
}

a {
    color: #0082d7;
    text-decoration: none
}

a:hover {
    color: #0082d7;
    text-decoration: underline
}

#top {
    margin: 0;
    padding: 0
}

.wrapper {
    margin: 0;
    padding: 0;
    width: 100%
}

.wrapper.top {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 20px #999;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 100
}

.header {
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto
}

.page {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: transparent;
    background-repeat: repeat
}

.frame {
    max-width: 920px;
    margin: 0 auto;
    overflow: hidden
}

.content {
    overflow: hidden;
    max-width: 870px;
    padding: 40px 25px;
    margin: 0 auto 30px auto;
    background-color: white;
    -webkit-box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1)
}

#mobilenavtoggle {
    position: absolute;
    top: 17px;
    right: 20px;
    padding: 4px 8px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-weight: bold;
    text-align: right;
    display: none;
    text-decoration: none;
    border-radius: 6px;
    background-clip: padding-box
}

#mobilenavtoggle.on {
    position: fixed
}

#logo {
    float: left;
    margin: 15px 20px 10px 0;
    padding: 0;
    width: 172px;
    height: 46px;
    overflow: hidden
}

#webtext {
    float: left;
    margin: 0;
    padding: 16px 0;
    overflow: hidden;
    max-width: 100%
}

#webname {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    white-space: nowrap
}

#webname a {
    color: inherit;
    text-decoration: none
}

#slogan {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #333;
    text-transform: none;
    white-space: nowrap
}

#search {
    box-sizing: border-box;
    max-width: 474.8px;
    height: 44px;
    padding: 0 40px;
    margin: 0 0 30px 0;
    overflow: hidden
}

#searchform {
    position: relative;
    height: 44px
}

#searchform input {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#searchfieldset {
    margin: 0;
    padding: 0;
    border: 0
}

#searchfield {
    margin: 0;
    padding: 6px 30px 6px 10px;
    width: 100%;
    box-sizing: border-box;
    height: 44px;
    border: 0;
    font-size: 20px;
    line-height: 28px;
    color: #efefef;
    background-color: transparent;
    background-image: url(../images/stock-images/searchfield-bg.png);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    border-radius: 0
}

#searchbutton {
    margin: 0;
    padding: 6px 0;
    border: 0;
    box-sizing: border-box;
    height: 44px;
    background-color: transparent;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0
}

#navbar {
    display: block;
    float: right;
    margin: 10px 0 14px 0;
    padding: 0
}

ul.mainmenu ul {
    display: none
}

ul.mainmenu > li:before {
    content: "/";
    position: absolute;
    left: -9px;
    top: 2px
}

ul.mainmenu > li:first-child:before {
    display: none
}

ul.mainmenu li > a, .frame .subnav .submenu li > a, #xmenu a {
    -webkit-transition: background 350ms ease-in-out, color 350ms ease-in-out;
    transition: background 350ms ease-in-out, color 350ms ease-in-out
}

ul.mainmenu {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Abel, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px
}

ul.mainmenu li {
    position: relative;
    margin: 0 6px;
    text-align: left;
    vertical-align: middle;
    list-style: none;
    float: left;
    color: #333
}

ul.mainmenu li > a:hover, ul.mainmenu li.active:not(.open) > a:hover {
    background-color: #0082d7
}

ul.mainmenu li.active:not(.open) > a {
    background-color: transparent
}

ul.mainmenu li a {
    display: block;
    margin: 0;
    padding: 2px 3px;
    background-color: transparent;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap
}

ul.mainmenu li a:hover, ul.mainmenu li.active:not(.open) > a:hover {
    color: white
}

ul.mainmenu li.active:not(.open) > a {
    color: #0082d7
}

ul.mainmenu li a.sf-with-ul {
    background-image: none
}

.sf-sub-indicator {
    display: none
}

.frame .subnav {
    padding: 0 0 30px 0;
    min-height: 65px
}

.frame .subnav.low {
    min-height: 10px
}

.frame .subnav h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 32px;
    color: #333;
    margin: 0
}

.frame .subnav .submenu ul {
    margin: 0;
    padding: 0;
    font-family: Abel, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #333;
    text-transform: uppercase
}

.frame .subnav .submenu li:before {
    content: "/";
    position: absolute;
    left: -9px;
    top: 2px
}

.frame .subnav .submenu li:first-child:before {
    display: none
}

.frame .subnav .submenu li {
    color: #333;
    list-style: none;
    float: left;
    margin: 0 6px;
    background-color: transparent;
    position: relative
}

.frame .subnav .submenu li:first-child {
    margin-left: 0
}

.frame .subnav .submenu li a {
    padding: 2px 3px;
    text-decoration: none;
    color: #333;
    text-transform: uppercase
}

.frame .subnav .submenu li a.active {
    color: #0082d7;
    background-color: transparent
}

.frame .subnav .submenu li a:hover, .frame .subnav .submenu li a.active:hover {
    color: white;
    background-color: #0082d7
}

ul.zpSO-SubMenu {
    padding-left: 1em;
    text-indent: -1em
}

ul.zpSO-SubMenu li {
    list-style: none
}

ul.zpSO-SubMenu li:before {
    content: "»";
    margin-right: .5em;
    color: #0082d7
}

.flexslider {
    border-top: 5px solid #0082d7;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 30px
}

.flexslider .slides > li {
    position: relative
}

.flex-caption {
    margin: 0;
    padding: 10px 40px;
    width: 50%;
    box-sizing: border-box;
    border-top: 5px solid #0082d7;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: #333;
    background-color: transparent;
    background-image: url(../images/stock-images/caption.png);
    position: absolute;
    right: 0;
    bottom: 0
}

.flex-caption span, .flex-caption h1, .flex-caption h2, .flex-caption h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: normal;
    color: #0082d7;
    line-height: normal;
    text-align: left
}

.flex-caption p {
    margin: 0;
    padding: 0
}

.flex-caption a {
    color: #0082d7;
    text-decoration: none
}

.flex-caption a:hover {
    color: #0082d7;
    text-decoration: underline
}

.flex-direction-nav li {
    list-style: none
}

.flexslider .flex-prev, .flexslider .prev, .flexslider:hover .flex-prev, .flexslider:hover .prev {
    left: 12px;
    opacity: .8
}

.flexslider .flex-next, .flexslider .next, .flexslider:hover .flex-next, .flexslider:hover .next {
    right: 12px;
    opacity: .8
}

.flexslider .flex-next:hover, .flexslider .next:hover {
    opacity: 1
}

.flexslider .flex-prev:hover, .flexslider .prev:hover {
    opacity: 1
}

.flex-control-nav, .flex-control-paging {
    position: absolute;
    top: 10px;
    bottom: auto;
    left: auto;
    right: auto;
    z-index: 99;
    margin: 0;
    padding: 10px 0 0 30px;
    text-align: left
}

.flex-control-nav li {
    margin-right: 4px
}

.flex-control-paging li a {
    width: 14px;
    height: 14px;
    border-radius: 0;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-indent: -999999px;
    background: url(../images/stock-images/pagination-transparent.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    overflow: hidden
}

.flex-control-paging li a.flex-active {
    background: url(../images/stock-images/pagination-transparent.png);
    background-position: 0 -28px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.75)
}

.flex-control-paging li a:hover {
    background: url(../images/stock-images/pagination-transparent.png);
    background-position: 0 -14px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.7)
}

#breadcrumb {
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 12px;
    color: #333
}

#breadcrumb a {
    padding: 0 5px;
    color: #0082d7;
    text-decoration: none
}

#breadcrumb a:hover {
    color: #0082d7;
    text-decoration: underline
}

#breadcrumb span {
    color: #333
}

.contentbox {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background-color: white
}

.contentwithnews {
    float: left;
    width: 50%
}

.contentbox input, .contentbox textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333
}

.contentbox a.button, input.button {
    display: inline-block;
    margin: 0 10px 30px 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    line-height: normal;
    color: white !important;
    background-color: #0082d7;
    border: 1px solid #0073be
}

.contentbox #sidebar a.button, input.button {
    margin: 0 10px 30px 0
}

.contentbox a.button, input.button, .zp-form input.button {
    color: white !important;
    background-color: #0082d7
}

.contentbox a.button:hover, input.button:hover, .zp-form input.button:hover {
    color: white !important;
    background-color: #0063a4
}

.contentbox a.button span, input.button {
    display: block;
    margin: 0;
    padding: 8px 15px
}

#sidebar {
    float: right;
    margin: 0;
    padding: 0;
    width: 50%;
    overflow: hidden
}

.newsbox {
    overflow: hidden;
    margin: 0;
    padding: 0;
    line-height: 21px;
    background-color: #ededed
}

.newsbox h2 {
    font-family: Abel, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 10px 0 10px 0;
    padding: 5px 10px;
    font-size: 26px;
    font-weight: normal;
    color: white;
    background-color: #0082d7
}

.newsbox h2:first-child {
    margin-top: 0
}

.newstext {
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    color: #333
}

.newstext p {
    margin: 0 0 10px 0
}

.newstext a {
    color: #0082d7;
    text-decoration: none
}

.newstext a:hover {
    color: #0082d7;
    text-decoration: underline
}

.articlearea {
    margin: 0;
    padding: 0;
    line-height: 21px
}

.articleimage {
    margin: 0;
    padding: 4px 0 0 0
}

.articletext {
    margin: 0;
    padding: 0
}

.twocolumnleft {
    float: left;
    margin: 0;
    padding: 0
}

.twocolumnleft > div {
    margin: 0;
    padding: 0 12px 0 0
}

.twocolumnright {
    margin: 0;
    padding: 0;
    overflow: hidden
}

.twocolumnright > div {
    margin: 0;
    padding: 0 0 0 12px
}

.bildunterschrift {
    display: block;
    color: #333
}

.floatarticle {
    float: left;
    margin: 0 0 30px 0;
    padding: 0;
    overflow: hidden
}

.floatarticle > div {
    margin: 0;
    padding: 0 30px 0 0
}

.zp-form {
    display: inline-block;
    margin: 0;
    padding: 0 0 10px 0
}

.zp-form p {
    margin: 0;
    padding: 0
}

.zp-form table {
    margin: 0;
    padding: 0
}

.zp-form td {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    vertical-align: middle
}

.zp-form input {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333 !important
}

.zp-form textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333
}

.zp-form .label, .zp-form .field {
    padding: 3px 10px 3px 0
}

.zp-form .desc {
    padding: 10px 10px 10px 0
}

.zp-form .multiline {
    padding: 4px 10px 0 0;
    vertical-align: top
}

.zp-form .submit {
    padding: 0
}

.zp-form .separator {
    margin: 10px 10px 10px 0;
    padding: 0;
    line-height: 1px;
    height: 1px;
    border-bottom: 1px solid #333
}

#banner, #afterlogo, #aftermenu, #afterfooter {
    margin: 0;
    padding: 20px 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 21px;
    background-color: transparent
}

#aftermenu {
    padding-top: 0
}

#afterfooter {
    padding-bottom: 0
}

#banner a, #afterlogo a, #aftermenu a, #afterfooter a {
    color: #0082d7;
    text-decoration: none
}

#banner a:hover, #afterlogo a:hover, #aftermenu a:hover, #afterfooter a:hover {
    color: #0082d7;
    text-decoration: underline
}

#banner span:not([style]), #banner h2, #afterlogo span, #aftermenu span, #afterfooter span:not([style]), #afterfooter h2 {
    font-family: Abel, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 26px;
    font-weight: normal;
    color: #0082d7;
    line-height: normal
}

#banner p, #afterlogo p, #aftermenu p, #afterfooter p {
    margin: 0 0 10px 0;
    padding: 0
}

#aftermenu p:last-child {
    margin: 0
}

#footer {
    margin: 0 0 30px 0;
    padding: 0 40px;
    font-size: 12px;
    color: #333
}

#footerinfo {
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden
}

#footerinfo .zp {
    color: #333 !important
}

#xmenu {
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #333
}

#xmenu span {
    padding: 2px 2px
}

#xmenu span:last-child {
    display: none
}

#xmenu a {
    margin: 0;
    padding: 2px 3px;
    font-size: 12px;
    color: #333;
    text-decoration: none
}

#xmenu a:hover {
    color: white;
    text-decoration: none;
    background-color: #0082d7
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block
}

.zpSO-OnlineShop-table {
    width: 100%
}

.zpSO-OnlineShop-table th {
    margin: 0;
    padding: 8px 10px;
    font-weight: bold;
    text-align: left;
    color: #0082d7;
    background-color: transparent
}

.zpSO-OnlineShop-table td {
    margin: 0;
    padding: 8px 10px;
    text-align: left
}

.zpSO-OnlineShop-row1 td, .zpSO-OnlineShop-row2 td {
    margin: 0;
    padding: 8px 10px;
    text-align: left
}

.zpSO-OnlineShop-row2 td {
    background-image: url(../images/stock-images/opacity.png)
}

.zp {
    color: #333 !important;
    text-decoration: none !important
}

.clear {
    clear: both
}

.clearx, .clearfix {
    clear: both;
    margin: 0;
    padding: 0;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
}

.clearme:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.asfield {
    display: none
}

div.zpRow.news {
    margin-bottom: 30px
}

@media (max-width: 960px) {
    .frame .subnav {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (min-width: 769px) {
    ul.mainmenu ul {
        display: none !important
    }
}

@media (max-width: 768px) {
    #navbar {
        display: none;
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        width: 100%;
        clear: both;
        margin: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        padding: 15px 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    #navbar.on {
        display: block
    }

    #mobilenavtoggle {
        display: block;
        z-index: 2
    }

    .frame .subnav {
        min-height: 0
    }

    .frame .subnav.low {
        display: none
    }

    .frame .subnav div.submenu {
        display: none
    }

    ul.mainmenu {
        float: none;
        margin: 0 !important
    }

    ul.mainmenu.on {
        display: block
    }

    ul.mainmenu ul {
        display: block;
        margin: 0 0 0 15px
    }

    ul.mainmenu li, ul.mainmenu li.active {
        float: none;
        display: list-item;
        margin: 0
    }

    ul.mainmenu li:not(.active) > ul {
        display: none
    }

    ul.mainmenu li.active > ul {
        display: block
    }

    ul.mainmenu li span, ul.mainmenu li:before {
        display: none
    }

    ul.mainmenu li a {
        padding-top: 6px;
        padding-bottom: 6px
    }

    ul.mainmenu li.haschilds > a {
        position: relative;
        padding-left: 2em
    }

    ul.mainmenu li.haschilds > a:before {
        content: '';
        box-sizing: content-box;
        position: absolute;
        top: 47%;
        margin-top: -0.25em;
        left: 0;
        height: .5em;
        width: .5em;
        border-style: solid;
        border-width: 1px 1px 0 0;
        display: block;
        -webkit-transition: -webkit-transform 200ms ease;
        transition: transform 200ms ease;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    ul.mainmenu li.haschilds.open > a:before, ul.mainmenu li.haschilds.clicked > a:before {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
        margin-top: -0.5em;
        left: 5px
    }

    .contentbox, .contentwithnews, #sidebar {
        width: 100%;
        float: none
    }

    .newsbox {
        width: 100%
    }

    #search {
        max-width: none
    }

    #xmenu {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px
    }

    #xmenu a {
        float: left;
        padding: 8px 3px
    }

    #footerinfo {
        padding: 8px 0
    }
}

@media (max-width: 568px) {
    #logo {
        max-width: 200px;
        height: auto
    }

    .flex-caption {
        width: 100%;
        position: relative;
        padding: 10px 10px
    }

    .flex-control-nav, .flex-control-paging {
        box-sizing: border-box;
        padding: 0 12px;
        top: 12px
    }

    .header, .frame .subnav, .content, #search, #footer {
        padding-left: 12px;
        padding-right: 12px
    }
}

#grid {
    max-width: 870px
}

#banner .zpgrid, #afterfooter .zpgrid {
    margin-left: -15px;
    margin-right: -15px
}

#breadcrumb, #headerslider {
    margin-left: 15px;
    margin-right: 15px
}

.zpContainer.zpBreakout {
    margin-left: -25px;
    margin-right: -25px;
    padding-left: 25px;
    padding-right: 25px
}

.contentwithnews .zpContainer.zpBreakout {
    margin-right: -15px;
    padding-right: 15px
}

.zpColumn .zpBreakout {
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 0;
    padding-right: 0
}

.contentwithnews .zpColumn .zpBreakout {
    margin-right: -30px
}

#banner .zpContainer.zpBreakout {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0
}

#banner .zpColumn .zpBreakout {
    margin-left: 0;
    margin-right: 0
}