<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="de">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>Impressum</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="robots" content="index, follow"/>
		<link rel="shortcut icon" type="image/x-icon" href="../static/resources/images/stock-images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/bundle.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/bundle-print.css}" media="print"/>
		<!--<script type="text/javascript" th:src="@{java/kickstart/controller/bundle.js}"></script>-->
		<script type="text/javascript">
			function search1() {
				if (document.forms.searchengine1.q.value.length == 0) {
					alert("Bitte geben Sie einen Suchbegriff ein.");
					return false;
				}
			}
		</script>
	</head>
	<body id="Lime"><a id="top"></a>
	<div id="master_wrapper">
		<div id="header_wrapper">
			<div id="header_top">
				<div class="header_content_inner">
					<div id="webdescription">
						<di id="logo">
							<a th:href="@{welcome.html}">
							<img th:src="@{resources/images/logo-white.png}" width="172" height="46" alt="welcome.html" />
						</a>
						</di>
						<div id="webtext">
							<div id="webname"><a th:href="@{welcome.html}">Mampf</a></div>
							<div id="slogan">Cateringservice</div>
						</div>
						<div class="clearx"></div>
					</div>
					<div id="mainmenu">
						<ul>
							<li>
								<form method="post" th:action="@{/welcome}">
									<a class="topmenu" href="welcome.html">Home</a>
								</form>
							</li>
							<li>
								<form method="post" th:action="@{/kontakt}">
									<a class="topmenu" href="kontakt.html">Kontakt</a>
								</form>
							</li>
							<li>
								<form method="post" th:action="@{/impressum}">
									<a class="topmenuactive" href="impressum.html">Impressum</a>
								</form>
							</li>
							<li>
								<form method="post" th:action="@{/login}">
									<a class="topmenu" href="login.html">Login</a>
								</form>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="header_bottom">
				<div class="header_content_inner">
					<div id="breadcrumb"> &nbsp; </div>
					<div id="search_wrapper">
						<form class="searchform" name="searchengine1" onsubmit="return search1()" th:action="@{suche.html}"
							  method="get">
							<fieldset id="fieldset"><input id="searchfield" type="text" name="q" value="Suchbegriff"
														   onfocus="if(this.value=='Suchbegriff'){this.value=''}"
														   onblur="if(this.value==''){this.value='Suchbegriff'}"/> <input
									id="button_suche" type="image" th:src="@{resources/images/view.png}" alt="searchbutton"/>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="content_wrapper">
			<div id="content" class="clearfix">
				<div id="page" class="clearfix fullwidth">
					<div class="zparea zpgrid" data-numcolumns="" data-areaname="Standard">
						<div class="zpRow standard ">
							<div class="zpColumn zpColumnWidth1 c12" style=" ">
								<div class="zpColumnItem">
									<div id="a1531" data-articleid="1531" class="articlearea zpwText"><h1
											style="text-align:left;">Impressum</h1>
										<p>Vertretungsberechtigter Geschäftsführer: Max Mustermann</p>
										<p><strong>Mustermann GmbH</strong><br/>Musterstraße 1<br/>00000 Musterstadt<br/>Telefon:
											+49 40 000000<br/>Telefax: +49 40 000000<br/>E-Mail: <a
													href="mailto:info@example.com">info@example.com</a><br/>Internet: <a
													href="http://www.example.com">www.example.com</a></p>
										<p>Registergericht: Amtsgericht Musterstadt<br/>Registernummer: HR 0000</p>
										<p>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE
											0000000</p>
										<p>Wirtschafts-Identifikationsnummer gemäß § 139c Abgabenordnung: DE 0000000</p>
										<p>Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Max Mustermann</p></div>
								</div>
							</div>
						</div>
						<div class="zpRow standard ">
							<div class="zpColumn zpColumnWidth1 c12" style=" ">
								<div class="zpColumnItem">
									<div id="a1532" data-articleid="1532" class="articlearea zpwText"><h2>
										Haftungshinweis</h2>
										<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die
											Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich
											deren Betreiber verantwortlich.</p></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer_wrapper">
			<div id="footer" class="clearfix">
				<div id="xmenu"><a href="welcome.html">Startseite</a> &nbsp;&nbsp;<a th:href="@{kontakt.html}">Kontakt</a> &nbsp;&nbsp;<a
						href="impressum.html">Impressum</a></div>
				<div id="copy"> © 2016 Mampf.</div>
			</div>
		</div>
	</div>
	</body>
</html>