<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="de"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Kunden</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="robots" content="index, follow"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/stock-images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/prog_bundle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bundle-print.css}" media="print"/>
    <!-- <script type="text/javascript" th:src="@{/java/kickstart/controller/bundle.js}"></script> -->
</head>
<body id="square-responsive"><a id="top"></a>
<div class="wrapper top">
    <div class="header"><a href="#" id="mobilenavtoggle" class="tabletonly" aria-label="Menü ein-/ausblenden">Menü</a>
        <div id="logo">
            <a th:href="@{main}">
                <img th:src="@{/resources/images/logo-black.png}" width="172" height="46" alt="main.html"/>
            </a>
        </div>
        <div id="webtext">
            <div id="webname" class="ellipsis"><a href="main.html">Mampf</a></div>
            <div id="slogan" class="ellipsis">Cateringservice</div>
        </div>
        
        <nav th:include="topNav :: topNav"></nav>   
    </div>
</div>
<div class="clearx"></div>
<div class="wrapper main">
    <div class="page">
        <div class="frame">
            <div class="subnav low">            
            	<nav th:include="subNav :: subNav"></nav>
            </div>
        </div>
        <div class="content">            	
            <div class="clearx"></div>
            <div class="contentbox zpgrid">
            	<h3>Meine Veranstaltungen</h3>
                <div class="zparea " data-numcolumns="12" data-areaname="Standard">
                    <div class="zpRow standard ">
                        <div class="zpColumn zpColumnWidth1 c12" style=" ">
                            <div class="zpColumnItem">
                                <div id="a1561" data-articleid="1561" class="articlearea zpwTabellarische_Daten">
                                    <table border="1" class="zptabledata">
                                        <thead>
                                        <tr style="color: #333333; background-color: #0082D7">
                                            <th>Id</th>
                                            <th>Eventart</th>
                                            <th>Beginn</th>
                                            <th>Schluss</th>
                                            <th>Straße</th>
                                            <th>Ort</th>
                                            <th>Plz</th>
                                            <th>Bemerkung</th>
                                            <th>KundenId</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each=" veranstaltung : ${meineVeranstaltungen}"
                                            style="color: #6C6C6C; background-color: #EDEDED">
                                            <td th:text="${veranstaltung.id}"></td>
                                            <td th:text="${veranstaltung.eventArt}"></td>
                                            <td th:text="${veranstaltung.beginnDatum}"></td>
                                            <td th:text="${veranstaltung.schlussDatum}"></td>
                                            <td th:text="${veranstaltung.adresse.strasse}"></td>
                                            <td th:text="${veranstaltung.adresse.ort}"></td>
                                            <td th:text="${veranstaltung.adresse.plz}"></td>
                                            <td th:text="${veranstaltung.bemerkung}"></td>
                                            <td th:text="${veranstaltung.kundenId}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                                        
                </div>                
            </div>
        </div>
        	
        </div>
        <div class="frame">
            <div id="search">
                <form id="searchform" name="searchengine1" onsubmit="return search1()" action="suche.html" method="get">
                    <fieldset id="searchfieldset"><input id="searchfield" type="text" name="q" value="Suchbegriff"
                                                         onfocus="if(this.value=='Suchbegriff'){this.value=''}"
                                                         onblur="if(this.value==''){this.value='Suchbegriff'}"/> <input
                            id="searchbutton" type="image" name="submit"
                            th:src="@{resources/images/stock-images/magnifier.png}"
                            alt="searchbutton"/></fieldset>
                </form>
            </div>
        </div>
        <div class="frame">
            <div id="footer">
                <div id="footerinfo"> © 2016 Mampf.</div>
                <div style="clear:left"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $z(document).ready(function () {
        // switches the Mobile Navigation-Menu on/off, when "Menu" link is clicked.
        $z("a#mobilenavtoggle").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();

            $z("#navbar").slideToggle(300, function () {
                $z("#navbar, #mobilenavtoggle").toggleClass("on");
                //clear inline styles set by "slideToggle" so the don't stick around e.g. after window enlargement or orientation change
                $z(this).css("display", "");
            });

        });
    });
</script>
</body>
</html>