<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Neuer Kunde</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="robots" content="index, follow"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/stock-images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/prog_bundle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bundle-print.css}" media="print"/>
    <!-- <script type="text/javascript" th:src="@{/java/kickstart/controller/bundle.js}"></script> -->
</head>
<body id="square-responsive"><a id="top"></a>
<div class="wrapper top">
    <div class="header"><a href="#" id="mobilenavtoggle" class="tabletonly" aria-label="Menü ein-/ausblenden">Menü</a>
        <div id="logo">
            <a th:href="@{main}">
                <img th:src="@{/resources/images/logo-black.png}" width="172" height="46" alt="main.html"/>
            </a>
        </div>
        <div id="webtext">
            <div id="webname" class="ellipsis"><a href="main.html">Mampf</a></div>
            <div id="slogan" class="ellipsis">Eventcatering</div>
        </div>
        <div id="navbar">
            <ul data-breakpointmobilemenu="768" class="mainmenu touchhovermenu clickhovermenu">
                <li class="dropdown"><a href="main.html">Main </a></li>
                <li class="haschilds dropdown">
                    <a href="veranstaltungen.html">Admin </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown">
                            <a href="veranstaltungen.html">Veranstaltungen</a>
                        </li>
                        <li class="dropdown">
                            <a href="personal.html">Personal</a>
                        </li>
                        <li class="dropdown">
                            <a href="kunden.html">Kunden</a>
                        </li>
                        <li class="dropdown">
                            <a href="lager.html">Lager</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="mein-bereich.html">Personal </a>
                </li>
                <li class="haschilds dropdown active open">
                    <a href="service.html">Service </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown active">
                            <a class="active" href="neuer-kunde.html">Neuer Kunde</a>
                        </li>
                        <li class="dropdown">
                            <a href="Bestellung.html">Bestellung</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="clearx"></div>
<div class="wrapper main">
    <div class="page">
        <div class="frame">
            <div class="subnav low">
                <div class="submenu clearme">
                    <ul>
                        <li class="active">
                            <form method="post" th:action="@{/neuer-kunde}">
                                <a class="active" href="neuer-kunde.html">Neuer Kunde</a>
                            </form>
                        </li>
                        <li>
                            <form method="post" th:action="@{/bestellung}">
                                <a href="bestellung.html">Bestellung</a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="clearx"></div>
            <div class="contentbox zpgrid">
                <div class="zparea " data-numcolumns="12" data-areaname="Standard">
                    <div class="zpRow standard ">
                        <div class="zpColumn zpColumnWidth1 c8">
                            <div class="zpColumnItem">
                                <div id="a1571" data-articleid="1571" class="articlearea zpwFormular"><h2>Neuen Kunden
                                    hinzufügen</h2>
                                    <noscript>
                                        <div class="formvalidateerror"
                                             style="color: #fff; background-color: red; padding: 6px 12px;"><p><strong>Um
                                            das Kontaktformular zu nutzen, aktivieren Sie bitte JavaScript!</strong></p>
                                            <p><strong>In order to use this form, you need to activate
                                                JavaScript!</strong></p></div>
                                    </noscript>
                                    <form enctype="multipart/form-data" class="zp-form" id="form1571" name="form1571"
                                          th:object="${kundenDaten}" th:action="@{/addKunde}" method="post">
                                        <input type="hidden" name="f_receiver" value="4rF2V2jGFwxsXPnPD0asAw=="/>
                                        <input type="hidden" name="f_title" value="Neuer Kunde"/>
                                        <input type="hidden" name="f_success" value="neuer-kunde.html"/>
                                        <input type="hidden" name="f_error" value="neuer-kunde.html"/>
                                        <input type="hidden" name="f_id" value="1571"/>
                                        <input type="hidden" name="f_alertPrefix"
                                               value="Bitte füllen Sie die rot markierten Felder aus:"/>
                                        <input type="hidden" name="f_invalidEmailMsg" value="keine gültige E-Mail"/>

                                        <input type="hidden" name="NAME1" id="NAME1" value="Name"/>
                                        <label for="F1" class="field">Name</label>
                                        <input th:field="*{nachname}" class="typetext  required" type="text" name="F1" id="F1"
                                               placeholder="Name"
                                               value="" style="width: 200px; " maxlength="20"/>

                                        <input type="hidden" name="NAME2" id="NAME2" value="Vorname"/>
                                        <label for="F2" class="field">Vorname</label>
                                        <input th:field="*{vorname}" class="typetext  required" type="text" name="F2" id="F2"
                                               placeholder="Vorname" style="width: 200px; " maxlength="20"/>

                                        <input type="hidden" name="NAME3" id="NAME3" value="Geburtsdatum"/>
                                        <label for="F3" class="field">Geburtsdatum</label>
                                        <input class="typetext " type="date" name="F3" id="F3"
                                               placeholder="Geburtsdatum" style="width: 200px; " maxlength="20"/>

                                        <input type="hidden" name="NAME4" id="NAME4" value="—————————"/>
                                        <div class="separator">&nbsp;</div>

                                        <input type="hidden" name="NAME5" id="NAME5" value="Straße"/>
                                        <label for="F5" class="field">Straße</label>
                                        <input th:field="*{strasse}" class="typetext  required" type="text" name="F5" id="F5"
                                               placeholder="Straße"
                                               value="" style="width: 200px; " maxlength="40"/>

                                        <input type="hidden" name="NAME5_2" id="NAME5_2" value="Ort"/>
                                        <label for="F5_2" class="field">Ort</label>
                                        <input th:field="*{ort}" class="typetext  required" type="text" name="F5_2" id="F5_2"
                                               placeholder="Ort"
                                               value="" style="width: 200px; " maxlength="40"/>

                                        <input type="hidden" name="NAME6" id="NAME6" value="PLZ"/>
                                        <label for="F6" class="field">PLZ</label>
                                        <input th:field="*{plz}" class="typetext  required" type="number" name="F6" id="F6"
                                               placeholder="PLZ" style="width: 200px; " maxlength="20"/>

                                        <input type="hidden" name="NAME7" id="NAME7" value="—————————"/>
                                        <div class="separator">&nbsp;</div>

                                        <input type="hidden" name="NAME8" id="NAME8" value="Telefon"/>
                                        <label for="F8" class="field">Telefon</label>
                                        <input class="typetext " type="tel" name="F8" id="F8"
                                               placeholder="Telefon" style="width: 200px; " maxlength="20"/>

                                        <input type="hidden" name="NAME9" id="NAME9" value="E-Mail"/>
                                        <label for="F9" class="field">E-Mail</label>
                                        <input th:field="*{email}" class="typetext  required" type="email" name="F9" id="F9"
                                               placeholder="E-Mail" style="width: 200px; " maxlength="200"/>

                                        <input type="text" name="url" id="url" class="asfield"
                                               aria-label="Please ignore this field."/>

                                        <div class="formbuttons">
                                            <input type="submit" class="button" value="Absenden"/>
                                        </div>
                                    </form>
                                    <!--<script>
                                        // if the browser doesn't support input type="date", use jQueryUI datepicker
                                        if (zp.html5support && !zp.html5support["date"]) {
                                            // test if jqueryUI is loaded, and if not, load it
                                            var mySrc = $z('script[src*="app.js"], script[src*="bundle.js"]').first().attr("src");
                                            var jsRelativePath = mySrc.substr(0, mySrc.lastIndexOf("assets/")) + "assets/";

                                            if (!$z("link[href*='/js/jqueryui/jquery-ui-1.8.19.custom.css']").length) {
                                                // load jqueryUI if it is not already loaded
                                                if (!$z('link[href*="/bundle.css"], link[href*="/styles.css"]').first().length) {
                                                    $z('<link rel="stylesheet" type="text/css" href="' + jsRelativePath + 'js/jqueryui/jquery-ui-1.8.19.custom.css" media="screen" />').appendTo("head");
                                                }
                                                else {
                                                    $z('link[href*="/bundle.css"], link[href*="/styles.css"]').first().after('<link rel="stylesheet" type="text/css" href="' + jsRelativePath + 'js/jqueryui/jquery-ui-1.8.19.custom.css" media="screen" />');
                                                }
                                            }

                                            if (!($z.ui)) {
                                                // append after existing, known js if possible to keep loading order of CSS JS in correct order for improved loading speed
                                                if (!$z('script[src*="app.js"], script[src*="bundle.js"]').first().length) {
                                                    $z('<scr' + 'ipt type="text/javascript" src="' + jsRelativePath + 'js/jqueryui/jquery-ui-1.8.19.custom.min.js"></scr' + 'ipt>').appendTo("head");
                                                }
                                                else {
                                                    $z('scr' + 'ipt[src*="app.js"], script[src*="bundle.js"]').first().after('<scr' + 'ipt type="text/javascript" src="' + jsRelativePath + 'js/jqueryui/jquery-ui-1.8.19.custom.min.js"></scr' + 'ipt>');
                                                }
                                            }
                                            // localize the datepicker to DE
                                            var isGermanPage = $('html')[0].lang.toLowerCase().substr(0, 2) == "de";
                                            if (isGermanPage && !($z.datepicker.regional['de'])) {
                                                if (!$z('script[src*="app.js"], script[src*="bundle.js"]').first().length) {
                                                    $z('<scr' + 'ipt type="text/javascript" src="' + jsRelativePath + 'js/jqueryui/i18n/jquery.ui.datepicker-de.js"></scr' + 'ipt>').appendTo("head");
                                                }
                                                else {
                                                    $z('scr' + 'ipt[src*="app.js"], script[src*="bundle.js"]').first().after('<scr' + 'ipt type="text/javascript" src="' + jsRelativePath + 'js/jqueryui/i18n/jquery.ui.datepicker-de.js"></scr' + 'ipt>');
                                                }
                                            }
                                            // initialize date fields with datepicker
                                            $z("form#form1571 input[type=date]").datepicker({
                                                showButtonPanel: true,
                                                changeMonth: true,
                                                changeYear: true,
                                                currentText: isGermanPage ? "Heute" : "Today",
                                                closeText: isGermanPage ? "Schließen" : "Close"
                                            });
                                        }
                                    </script>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame">
            <div id="search">
                <form id="searchform" name="searchengine1" onsubmit="return search1()" th:action="@{/suche}"
                      method="get">
                    <fieldset id="searchfieldset"><input id="searchfield" type="text" name="q" value="Suchbegriff"
                                                         onfocus="if(this.value=='Suchbegriff'){this.value=''}"
                                                         onblur="if(this.value==''){this.value='Suchbegriff'}"/> <input
                            id="searchbutton" type="image" name="submit"
                            th:src="@{resources/images/stock-images/magnifier.png}"
                            alt="searchbutton"/></fieldset>
                </form>
            </div>
        </div>
        <div class="frame">
            <div id="footer">
                <div id="footerinfo"> © 2016 Mampf.</div>
                <div style="clear:left"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $z(document).ready(function () {
        // switches the Mobile Navigation-Menu on/off, when "Menu" link is clicked.
        $z("a#mobilenavtoggle").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();

            $z("#navbar").slideToggle(300, function () {
                $z("#navbar, #mobilenavtoggle").toggleClass("on");
                //clear inline styles set by "slideToggle" so the don't stick around e.g. after window enlargement or orientation change
                $z(this).css("display", "");
            });

        });
    });
</script>
</body>
</html>